<a href="https://colab.research.google.com/github/joel2982/PW-Skills-Assignment/blob/master/20th_August_Datatypes_Practice_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String Based Assignment Problem

### 1. Write a program to reverse a string.

In [ ]:
string = input('Enter the String : ')
reversed = string[::-1]
print('Reversed String :',reversed)

Enter the String : Python
Reversed String : nohtyP

### 2. Check if a string is a palindrome.

In [ ]:
string = input('Enter the String : ')
# converting the whole string into uppercase characters
temp = string.upper()
# reversing the string
reversed = temp[::-1]
if reversed == temp:
  print(string,'is a palindrome string')
else:
  print(string,'is not a palindrome string')

Enter the String : malayalam
malayalam is a palindrome string

### 3. Convert a string to uppercase.

In [ ]:
string = input('Enter the String : ')
# converting the whole string into uppercase characters
new_string = string.upper()
print(new_string)

Enter the String : assignment
ASSIGNMENT

### 4. Convert a string to lowercase.

In [ ]:
string = input('Enter the String : ')
# converting the whole string into lowercase characters
new_string = string.lower()
print(new_string)

Enter the String : sTRIng PrOBLEMS
string problems

### 5,6. Count the number of vowels and consonants in a string.

In [ ]:
string = input('Enter the String : ')
string = string.upper()
vowel_count = 0
consonant_count = 0
for char in string:
  # checking if the char is a vowel
  if char in 'AEIOU':
    vowel_count = vowel_count + 1
  # checking if character is alphabet and it will only if char is not a vowel.
  # hence it increments when char is consonant but not when it is a special char
  elif char.isalpha():
    consonant_count = consonant_count + 1
print('No of Vowels :',vowel_count)
print('No of Consonants :',consonant_count)

Enter the String : what is a string?
No of Vowels : 4
No of Consonants : 9

### 7. Remove all whitespaces from a string.

In [ ]:
string = input('Enter the String : ')
# using join over splitting the string is more efficient than relpace
# as it takes into consideration multi-line strings also
new_string = "".join(string.split())
print(new_string)

Enter the String : what is a string.
whatisastring.

### 8. Find the length of a string without using the `len()` function.

In [ ]:
string = input('Enter the String : ')
# using for loop to find the length
count = 0
# iterates untill all characters of the string are accessed
for char in string:
    count = count + 1
print('Length of the String :',count)

Enter the String : practice is important
Length of the String : 21

### 9. Check if a string contains a specific word.

There can be 2 sub-cases for the above question.


1.   If the specific word is present in the string as a whole word
2.   If the specific word is present in the string not necessarily as a whole word. It can also be a part of any word in the string.

In [ ]:
string = input('Enter the String : ')
word = input('Enter the Word to be searched : ')
# using 'in' keyword to find if word is there in the string
# 'split' is used just check if the whole word is present
# 'ate' is not present in 'water is a necessity' but if we just use 'in' is will return True because ate is a substring in water but ate is not a specific word in the string
if word in string.split():
  print(word,'is present in',string)
else:
  print(word,'is not present in',string)

Enter the String : water is a necessity
Enter the Word to be searched : water
water is present in water is a necessity

In [ ]:
string = input('Enter the String : ')
word = input('Enter the Word to be searched : ')
# using 'in' keyword to find if word is there in the string as a whole word or a part of a sub-word
if word in string:
  print(word,'is present in',string)
else:
  print(word,'is not present in',string)

Enter the String : water is a necessity
Enter the Word to be searched : ate
ate is present in water is a necessity

### 10. Replace a word in a string with another word.

In [ ]:
def replaceWord(string,word,new_word):
  '''replaces all occurences of a specific word present in a string with another word

  Parameters
  string: main string to check if word is present
  word: the word to be swapped from the string
  new_word: the word taking place of the older word

  Returns
  the new string if the word is present, else prompts that string is not present
  '''
  # checking if word is present in the string
  if word in string:
      new_string = ''.join(string.replace(word,new_word))
  else:
    return f'{word} is not present in the string'
  return new_string

In [ ]:
replaceWord('air water air air','air','land')

'land water land land'

In [ ]:
replaceWord('air water air air','land','air')

'land is not present in the string'

### 11. Count the occurrences of a word in a string.

In [ ]:
def countWordOccurences(string,word):
  '''find the no of occurences of a specific word in the given string

  Parameters
  string: main string
  word: find the no of occurences in the string

  Returns int
  count: no of occurences of the word
  '''
  # checking if word is present in the string
  words = string.split()
  count = 0
  for w in words:
    if word == w:
      count += 1
  return count

In [ ]:
countWordOccurences('air water air air','air')

3

In [ ]:
countWordOccurences('air water air air','land')

0

### 12. Find the first occurrence of a word in a string.

In [ ]:
def firstWordOccurence(string,word):
  '''find the first occurence of a specific word in the given string

  Parameters
  string: main string
  word: substring

  Returns int
  index: index of the word
  '''
  # checking if word is present in the string
  words = string.split()
  index = -1
  for i in range(len(words)):
    if word == words[i]:
      index = i
      break
  return index

In [ ]:
firstWordOccurence('land water air','air')

2

In [ ]:
firstWordOccurence('air water air air','land')

-1

### 13. Find the last occurrence of a word in a string.

In [ ]:
def lastWordOccurence(string,word):
  '''find the last occurence of a specific word in the given string

  Parameters
  string: main string
  word: substring

  Returns int
  index: index of the word
  '''
  # checking if word is present in the string
  words = string.split()
  index = -1
  for i in range(len(words)):
    if word == words[i]:
      index = i
  return index

In [ ]:
lastWordOccurence('land water air air, air','air')

4

In [ ]:
lastWordOccurence('air water air air','land')

-1

### 14. Split a string into a list of words.

In [ ]:
def splitString(string):
  '''split a string into a list of words

  Parameters
  string: main string

  Returns list
  words: list of words
  '''
  # checking if word is present in the string
  words = string.split()
  return words

In [ ]:
splitString('land water air')

['land', 'water', 'air']

In [ ]:
splitString('air water air air   land')

['air', 'water', 'air', 'air', 'land']

### 15. Join a list of words into a string.

In [ ]:
def joinWords(words):
  '''combine a list of words into a string

  Parameters
  words: a list of substrings

  Returns string
  string: one string
  '''
  # checking if word is present in the string
  string = ' '.join(words)
  return string

In [ ]:
joinWords(['land', 'water', 'air'])

'land water air'

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
def spacesToUnderscores(string):
  '''converting spaces to underscores

  Parameters
  string: main string

  Returns string
  string: replaced spaces with underscores
  '''
  # checking if word is present in the string
  new_string = '_'.join(string.split())
  return new_string

In [ ]:
spacesToUnderscores('land water air')

'land_water_air'

### 17. Check if a string starts with a specific word or phrase.

In [ ]:
def checkStartSubstring(string,substring):
  '''checking if string starts with a substring

  Parameters
  string: main
  substring: smaller string

  Returns
  bool value
  '''
  # checking if word is present in the string
  l = len(substring)
  if string[:l] != substring:
    return False
  return True

In [ ]:
checkStartSubstring('I love programming','I love pro')

True

In [ ]:
checkStartSubstring('I love programming','I love coding')

False

### 18. Check if a string ends with a specific word or phrase.

In [ ]:
def checkEndSubstring(string,substring):
  '''check if a string ends with a specific substrinf

  Parameters
  string: main
  substring: smaller string

  Returns
  bool value
  '''
  # checking if word is present in the string
  l = len(substring)
  if string[-l::] == substring:
    return True
  else:
    return False

In [ ]:
checkEndSubstring('sometimes, I like programming','I like programming')

True

In [ ]:
checkEndSubstring('sometimes, I like programming','I like coding')

False

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
def titleCase(string):
  '''Convert a string to title case.

  Parameters
  string

  Returns
  string: changed into title case
  '''
  # using .title func to return titlecase string
  return string.title()

In [ ]:
titleCase('sometimes, i love programming.')

'Sometimes, I Love Programming.'

### 20. Find the longest word in a string.

In [ ]:
def longestWord(string):
  '''find the longest word in the string.

  Parameters
  string

  Returns string
  word: longest word
  '''
  words = string.split()
  max = 0
  long_word = ''
  for word in words:
    word = word.replace(',','').replace('.','').replace('"','').replace("'",'')
    if len(word) >= max:
      long_word = word
      max = len(word)
  return long_word

In [ ]:
longestWord('sometimes, i love programming.')

'programming'

### 21. Find the shortest word in a string.

In [ ]:
def shortWord(string):
  '''find the shortest word in the string.

  Parameters
  string

  Returns string
  word: longest word
  '''
  words = string.split()
  min = 1000
  short_word = ''
  for word in words:
    word = word.replace(',','').replace('.','').replace('"','').replace("'",'')
    if len(word) < min:
      short_word = word
      min = len(word)
  return short_word

In [ ]:
shortWord('sometimes, i love programming.')

'i'

### 22. Reverse the order of words in a string.

In [ ]:
def reverseWordOrder(string):
  '''reverse the word order of the string

  Parameters
  string

  Returns string
  reversed_string
  '''
  # string = string.replace(',','').replace('.','')
  words = string.split()
  reversed_string = ' '.join(words[::-1])
  return reversed_string

In [ ]:
reverseWordOrder('sometimes, i love programming.')

'programming. love i sometimes,'

### 23. Check if a string is alphanumeric.

In [ ]:
def reverseWordOrder(string):
  '''check if a string is alphanumeric

  Parameters
  string

  Returns
  bool value
  '''
  # string = string.replace(',','').replace('.','')
  return string.isalnum()

In [ ]:
reverseWordOrder('sometimes, i love programming.')

False

In [ ]:
reverseWordOrder('sometimesiloveprogramming')

True

### 24. Extract all digits from a string.

In [ ]:
def extractDigits(string):
  '''extract all the digits from the string

  Parameters
  string

  Returns
  digits: all digits
  '''
  digits = ''
  for char in string:
    # using isdigit func. to check if each char is num or not
    if char.isdigit():
      digits += char
  return digits

In [ ]:
extractDigits('sometimes, i love programming.')

''

In [ ]:
extractDigits('22 Baker Street')

'22'

### 25. Extract all alphabets from a string.

In [ ]:
def extractAlpha(string):
  '''extract all the digits from the string

  Parameters
  string

  Returns
  digits: all digits
  '''
  alpha = ''
  for char in string:
    # using isdigit func. to check if each char is alphabet or not
    if char.isalpha():
      alpha += char
  return alpha

In [ ]:
extractAlpha('pwskills12 231')

'pwskills'

### 26. Count the number of uppercase letters in a string.

In [ ]:
def countUpper(string):
  '''count the number of uppercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using isupper to check if char is a uppercase letter and then using sum function to add all 1s [list comprehension]
  count = sum(1 for char in string if char.isupper())
  return count

In [ ]:
countUpper('sometimes, i love programming.')

0

In [ ]:
countUpper('Sometimes, I love PrOGRAMMing.')

9

### 27. Count the number of lowercase letters in a string.

In [ ]:
def countLower(string):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  count = sum(1 for char in string if char.islower())
  return count

In [ ]:
countLower('SOMETIMES .')

0

In [ ]:
countLower('Sometimes, I love PrOGRAMMing.')

16

### 28. Swap the case of each character in a string.

In [ ]:
def swapCase(string):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  string: with swapped case letters
  '''

  return string.swapcase()

In [ ]:
swapCase('SOMETIMES .')

'sometimes .'

In [ ]:
swapCase('Sometimes, I love PrOGRAMMing.')

'sOMETIMES, i LOVE pRogrammING.'

### 29. Remove a specific word from a string.

In [ ]:
def removeWord(string,word):
  '''remove a specific word from string

  Parameters
  string

  Returns
  new_string:
  '''
  words = string.split()
  while word in words:
    words.remove(word)
  new_string = ' '.join(words)
  return new_string

In [ ]:
removeWord('air water air air','air')

'water'

In [ ]:
removeWord('air airbone','air')

'airbone'

### 30. Check if a string is a valid email address.

In [ ]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [ ]:
checkEmail('asd21asa_an@gmail.com')

True

In [ ]:
checkEmail('sa-.jhn@g12mail.com')

False

### 31. Extract the username from an email address string.

In [ ]:
def extractUsername(email):
  '''extract username from the email

  Parameters
  email: valid email id

  Returns
  username: str value
  '''
  username = email.split("@")[0]
  return username

In [ ]:
extractUsername('asd21asa_an@gmail.com')

'asd21asa_an'

In [ ]:
extractUsername('jasJ_ab12ok@hotmail.in')

'jasJ_ab12ok'

### 32. Extract the domain name from an email address string.

In [ ]:
def extractDomain(email):
  '''extract the domain name from the email id

  Parameters
  email: valid email id

  Returns
  domain: str value
  '''
  # using .split to extact the email domain name
  domain = email.split('@')[1]
  return domain

In [ ]:
extractDomain('asd21asa_an@gmail.com')

'gmail.com'

In [ ]:
extractDomain('sajhn@hotmail.in')

'hotmail.in'

### 33. Replace multiple spaces in a string with a single space.

In [ ]:
def replaceMultipleSpaces(string):
  ''' replace multiple spaces by a single space

  Parameters
  string

  Returns
  new_string: str value
  '''
  new_string = " ".join(string.split())
  return new_string

In [ ]:
replaceMultipleSpaces('mail   abc          apple')

'mail abc apple'

### 34. Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse
def validURL(url):
  '''checking for a valid url

  Parameters
  url

  Returns
  bool value
  '''
  try:
    parse = urlparse(url)
    return all([parse.scheme,parse.netloc])
  except ValueError:
    return False

In [ ]:
validURL('https://colab.research.google.com/drive/1PEiBoZc4lTsr8-YechpWRXABx_ZaezYL?authuser=0#scrollTo=7Ni57V7kSeec')

True

In [ ]:
validURL('sa-.jhn@g12mail.com')

False

### 35. Extract the protocol (http or https) from a URL string.

In [ ]:
def getProtocol(url):
  '''fetch the url protocol from the string

  Parameters
  url

  Returns
  protocol: url protocol, if there
  '''
  index = url.find('://')
  if index != -1:
    return url[:index]
  return "N/A"

In [ ]:
getProtocol('ftp:/ftp.example.com')

'N/A'

In [ ]:
getProtocol('https://colab.research.google.com/drive/1PEiBoZc4lTsr8-YechpWRXABx_ZaezYL?authuser=0#scrollTo=aTQqmuKjSeiR')

'https'

### 36. Find the frequency of each character in a string.

In [ ]:
def charFrequency(string):
  '''frequency of each character

  Parameters
  string

  Returns
  dict value
  '''
  freq_dict = {}
  string = string.lower()
  for i in string:
    if i in freq_dict:
      freq_dict[i] += 1
    else:
      freq_dict[i] = 1
  return freq_dict

In [ ]:
charFrequency('asd21asa_an@gmail.com')

{'a': 5,
 's': 2,
 'd': 1,
 '2': 1,
 '1': 1,
 '_': 1,
 'n': 1,
 '@': 1,
 'g': 1,
 'm': 2,
 'i': 1,
 'l': 1,
 '.': 1,
 'c': 1,
 'o': 1}

In [ ]:
charFrequency('PW Skills Strings')

{'p': 1,
 'w': 1,
 ' ': 2,
 's': 4,
 'k': 1,
 'i': 2,
 'l': 2,
 't': 1,
 'r': 1,
 'n': 1,
 'g': 1}

### 37. Remove all punctuation from a string.

In [ ]:
import string as st
def removePunctuations(string):
  '''remove all punctuations

  Parameters
  string

  Returns
  new_string: string without punctuations
  '''
  new_string = ''
  for char in string:
    if char not in st.punctuation:
      new_string += char
  return new_string

In [ ]:
removePunctuations('asd21asa_an@gmail.com')

'asd21asaangmailcom'

### 38. Check if a string contains only digits.

In [ ]:
def checkDigits(string):
  '''check if sting only contains digits

  Parameters
  string

  Returns
  bool value
  '''
  if string.isdigit():
    return True
  else:
    return False

In [ ]:
checkDigits('asd21asa_an@gmail.com')

False

In [ ]:
checkDigits('12311021')

True

### 39. Check if a string contains only alphabets.

In [ ]:
def checkAlpha(string):
  '''check if sting only contains alphabets

  Parameters
  string

  Returns
  bool value
  '''
  # isaplha() check if string only contains alphabets
  if string.isalpha():
    return True
  else:
    return False

In [ ]:
checkAlpha('asd21asa_an@gmail.com')

False

In [ ]:
checkAlpha('ABCDEFG')

True

### 40. Convert a string to a list of characters.

In [ ]:
def listOfChars(string):
  '''convert string to list of chars

  Parameters
  string

  Returns
  list
  '''
  # using list function
  list_char = list(string)
  return list_char

In [ ]:
listOfChars('PW Skills')

['P', 'W', ' ', 'S', 'k', 'i', 'l', 'l', 's']

### 41. Check if two strings are anagrams.

In [ ]:
def checkAnagrams(string1,string2):
  '''check if 2 strings are anagrams

  Parameters
  string1
  string2

  Returns
  bool value
  '''
  string1 = string1.lower()
  string2 = string2.lower()
  for char in string1:
    if char in string2:
      string2.replace(char,'',1)
    else:
      return False
  return True

In [ ]:
checkAnagrams('mars','rams')

True

In [ ]:
checkAnagrams('mars','ram')

False

### 42. Encode a string using a Caesar cipher.

Here, `ord(char)` is used to get the ASCII value of the character. However, the shift operation is slightly different.

```
chr((ord(char)+shift-65)%26 + 65)
```
I have **subtracted 65** from the sum of `ord(char) + shift` before performing the **modulo operation % 26** (which allows wrapping within the 26 letters of the alphabet).

Then adds 65 back to the result. This approach is useful when you want to ensure the shift stays within the range of alphabetical characters (ASCII values 65 to 90 for uppercase letters in the English alphabet).

In [ ]:
def encrypt(string,shift):
  '''encode the given string using Caesar Cipher

  Parameters
  string: main text to ne encoded
  shift: no of letters to be shifted

  Returns
  encoded_string
  '''
  encoded_string = ''
  for char in string:
    # Shift is added to the char ASCII value to get a new ASCII value(decrypted)
    if char.isupper():
      encoded_string += chr((ord(char)+shift-65)%26 + 65)
    elif char.islower():
      encoded_string += chr((ord(char)+shift-97)%26 + 97)
    else:
      encoded_string += char
  return encoded_string

In [ ]:
encrypt('Secret Message!',7)

'Zljyla Tlzzhnl!'

### 43. Decode a Caesar cipher encoded string.

In [ ]:
def decrypt(encoded_string,shift):
  '''Decrypt the message using caesar cipher technique

  Parameters
  encoded: encoded text to be decoded
  shift: no of letters to be shifted

  Returns
  string
  '''
  string = ''
  for char in encoded_string:
    # Shift is subtracted from ASCII value to get the original ASCII value of the char
    if char.isupper():
      string += chr((ord(char)-shift-65)%26 + 65)
    elif char.islower():
      string += chr((ord(char)-shift-97)%26 + 97)
    else:
      string += char
  return string

In [ ]:
decrypt('Zljyla Tlzzhnl!',7)

'Secret Message!'

### 44. Find the most frequent word in a string.

In [ ]:
def mostFreqWord(string):
  '''find the most frequent word in string

  Parameters
  string

  Returns
  most frequent word
  '''
  word_dict = {}
  # remove all punctuation chars from the string, lower and split it
  string_list = removePunctuations(string).lower().split(' ')
  for word in string_list:
    # if word not occured already it creates an instance else increments
    if word in word_dict:
      word_dict[word] += 1
    else:
      word_dict[word] = 1
  # zipping value, key then take the max of value
  freq_word = max(zip(word_dict.values(), word_dict.keys()))[1]
  return freq_word

In [ ]:
mostFreqWord('Water is important, although it is very scarce.')

'is'

In [ ]:
mostFreqWord('Water is important, although it is very scarce. Water, waTer')

'water'

### 45. Find all unique words in a string.

In [ ]:
def uniqueWords(string):
  '''get all the unique words in the string

  Parameters
  string

  Returns
  list: unique words
  '''
  uniq_words = []
  # remove all punctuation chars from the string, lower and split it
  string_list = removePunctuations(string).lower().split(' ')
  for word in string_list:
    if word not in uniq_words:
      uniq_words.append(word)
  return uniq_words

In [ ]:
uniqueWords('Water is important, although it is very scarce. Water, waTer')

['water', 'is', 'important', 'although', 'it', 'very', 'scarce']

### 46. Count the number of syllables in a string.

In [ ]:
def count_syllables(word):
  word = word.lower()
  count = 0
  # Remove trailing 'e' but not 'le'
  if word.endswith('e') and not word.endswith('le'):
      word = word[:-1]
  # Adjustments for words ending in 'ed' or 'es'
  if word.endswith(('ed', 'es')):
      word = word[:-2]
  # Count vowels
  vowels = "aeiouy"
  if word[0] in vowels:
    count += 1
  for i in range(1, len(word)):
    if word[i] in vowels and word[i-1] not in vowels:
      count += 1
  # Adjustments for lone 'e' at the end (considered as separate syllable)
  if count == 0:
    count = 1
  return count

In [ ]:
count_syllables('hairy')

2

In [ ]:
count_syllables('pickle')

2

In [ ]:
count_syllables('combination')

4

### 47. Check if a string contains any special characters.

In [ ]:
def checkSpecialChars(string):
  '''check if string contains special chars

  Parameters
  string

  Returns
  bool value
  '''
  for char in string:
    if char in st.punctuation:
      return True
  return False

In [ ]:
checkSpecialChars('asd21asa_an@gmail.com')

True

In [ ]:
checkSpecialChars('PW Skills')

False

### 48. Remove the nth word from a string.

In [ ]:
def removeNthWord(string,n):
  '''remove the nth word from the string

  Parameters
  string
  n: remove nth word

  Returns
  updated string
  '''
  string_list = string.split(' ')
  string_list.pop(n)
  new_string = ' '.join(string_list)
  return new_string

In [ ]:
removeNthWord('Water is important, although it is very scarce.',3)

'Water is important, it is very scarce.'

### 49. Insert a word at the nth position in a string.

In [ ]:
def insertAtN(string,new_word,n):
  '''insert word at nth position

  Parameters
  string
  new_word: word to be added
  n: add the word at nth pos

  Returns
  updated string
  '''
  string_list = string.split(' ')
  string_list.insert(n,new_word)
  new_string = ' '.join(string_list)
  return new_string

In [ ]:
insertAtN('Water is important, it is very scarce.','although',3)

'Water is important, although it is very scarce.'

### 50. Convert a CSV string to a list of lists.

In [ ]:
csv = '''name, id, favorite food
quincy, 1, hot dogs
beau, 2, cereal
abbey, 3, pizza
mrugesh, 4, ice cream'''

In [ ]:
def convertCSVtoList(csv):
  '''convert a CSV string into list of lists

  Parameters
  string: in form of csv

  Returns
  2D List/ List of Lists
  '''
  # splitting the string into lines
  lines = csv.split('\n')
  list2D = []
  for line in lines:
    # splitting the line into values
    row = line.split(',')
    list2D.append(row)
  return list2D

In [ ]:
convertCSVtoList(csv)

[['name', ' id', ' favorite food'],
 ['quincy', ' 1', ' hot dogs'],
 ['beau', ' 2', ' cereal'],
 ['abbey', ' 3', ' pizza'],
 ['mrugesh', ' 4', ' ice cream']]

# List Based Assignment Problem

### 1. Create a list with integers from 1 to 10.

In [ ]:
# using range() to create a range of nos. from 1-10 and then convert it to list
int_list = list(range(1,11))
int_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [ ]:
def length(l):
  ''' custom length finder for the given list

  Parameters
  l: list

  Returns
  int value: length
  '''
  count = 0
  # using for loop to iterate over all values and increment count for each value
  for _ in l:
    count += 1
  return count

In [ ]:
length(int_list)

10

### 3. Append an element to the end of a list.

In [ ]:
# using .append() to add new value at the end of the list
int_list.append(11)
int_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### 4. Insert an element at a specific index in a list.

In [ ]:
def insertElement(l,element,index):
  '''insert new element at the specified index of the list

  Parameters
  l: list in which element is to be added
  element: value to be added
  index: index of list at which element needs to be added
  '''
  # using .insert() built in func to insert an element
  l.insert(index,element)
  return l

In [ ]:
insertElement([1,2,3,41,24,22],21,5)

[1, 2, 3, 41, 24, 21, 22]

In [ ]:
insertElement([1,2,3,41,24,22],21,10)

[1, 2, 3, 41, 24, 22, 21]

### 5. Remove an element from a list by its value.

In [ ]:
list1 = [1,4,9,16,25,36,43,49,49,64,81,100]
list1

[1, 4, 9, 16, 25, 36, 43, 49, 49, 64, 81, 100]

In [ ]:
# using remove() to remove a value from the list
list1.remove(43)
# the function only removes first instance of the specific value
list1.remove(49)
list1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 6. Remove an element from a list by its index.

In [ ]:
# using pop() to remove a value at the specific index from the list
removed_element = list1.pop(9)
print("Removed Element: ",removed_element)
print("Updated List: ",list1)

Removed Element:  100
Updated List:  [1, 4, 9, 16, 25, 36, 49, 64, 81]

### 7. Check if an element exists in a list.

In [ ]:
def checkElement(l,element):
  '''check if element exists in the list

  Parameters
  l: list in which element is to be checked
  element: value to be checked

  Returns
  bool value
  '''
  # using in to check if value is there
  if element in l:
    return True
  else:
    return False

In [ ]:
checkElement(list1,49)

True

In [ ]:
checkElement(list1,42)

False

### 8. Find the index of the first occurrence of an element in a list.

In [ ]:
# using index() to find the index of the first occurence
list2 = [1,2,3,1,2,3,3,43,3]
list2.index(3)

2

### 9. Count the occurrences of an element in a list.

In [ ]:
# using count() to find the no. of occurences of an element
list2.count(3)

4

In [ ]:
list2.count(1)

2

### 10. Reverse the order of elements in a list.

In [ ]:
# using .reverse() to reverse the order of the elements
list1.reverse()
list1

[81, 64, 49, 36, 25, 16, 9, 4, 1]

### 11. Sort a list in ascending order.

In [ ]:
# sort() to sort list in ascending order
list1.sort()
list1

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
list2.sort()
list2

[1, 1, 2, 2, 3, 3, 3, 3, 43]

### 12. Sort a list in descending order.

In [ ]:
# using sort() with setting parameter reverse = True for descending order
list1.sort(reverse=True)
list1

[81, 64, 49, 36, 25, 16, 9, 4, 1]

In [ ]:
list2.sort(reverse=True)
list2

[43, 3, 3, 3, 3, 2, 2, 1, 1]

### 13. Create a list of even numbers from 1 to 20.

In [ ]:
# using range() which starts from 2-20 and increments with 2
even_list = list(range(2,21,2))
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# using list comprehension to generate a list of even nos
even_list = [i for i in range(1,21) if i%2==0]
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [ ]:
# using range() which starts from 1-20 and increments with 2
odd_list = list(range(1,21,2))
odd_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# using list comprehension to generate a list of odd nos
odd_list = [i for i in range(1,21) if i%2==1]
odd_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [ ]:
# using sum() to find the sum of all elements in the list
sum(odd_list)

100

In [ ]:
sum(even_list)

110

### 16. Find the maximum value in a list.

In [ ]:
# using max() to find the maximum element in the list
max(odd_list)

19

In [ ]:
max(even_list)

20

### 17. Find the minimum value in a list.

In [ ]:
# using min() to find the maximum element in the list
min(odd_list)

1

In [ ]:
min(even_list)

2

### 18. Create a list of squares of numbers from 1 to 10.

In [ ]:
# using list comprehension to create a list of squares
squares_list = [i**2 for i in range(1,11)]
squares_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [ ]:
import random
# using random.sample() to create a list of random nos.
# nos. are between 1-49 and the length of list is 10
random_list = random.sample(range(1, 50), 10)
random_list

[41, 8, 49, 23, 21, 35, 38, 12, 1, 13]

### 20. Remove duplicates from a list.

In [ ]:
def removeDuplicates(l):
  '''remove the duplicates from the list

  Parameters
  list: with duplicates

  Returns
  list with unique elements
  '''
  # set only has the values once, i.e. stores unique values/elements
  uniq_set = set(l)
  return list(uniq_set)

In [ ]:
list2

[43, 3, 3, 3, 3, 2, 2, 1, 1]

In [ ]:
removeDuplicates(list2)

[3, 1, 2, 43]

### 21. Find the common elements between two lists.

In [ ]:
def findCommonElements(list1,list2):
  '''find the common elements in the two lists

  Parameters (lists to check the elements)
  list1
  list2

  Returns
  list with common elements
  '''
  common_list = [i for i in list1 if i in list2]
  return common_list

In [ ]:
findCommonElements(squares_list,even_list)

[4, 16]

In [ ]:
findCommonElements(squares_list,odd_list)

[1, 9]

In [ ]:
findCommonElements(even_list,odd_list)

[]

### 22. Find the difference between two lists.

In [ ]:
def diffBetweenList(list1,list2):
  '''find the difference between the two lists, i.e. elements in list1 that are not in list 2

  Parameters
  list1
  list2

  Returns
  list with elements in list1 but not in list2
  '''
  diff_list = [i for i in list1 if i not in list2]
  return diff_list

In [ ]:
diffBetweenList(squares_list,even_list)

[1, 9, 25, 36, 49, 64, 81, 100]

In [ ]:
diffBetweenList(squares_list,odd_list)

[4, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
diffBetweenList(even_list,odd_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 23. Merge two lists.

In [ ]:
print(list1)
print(list2)

[81, 64, 49, 36, 25, 16, 9, 4, 1]
[43, 3, 3, 3, 3, 2, 2, 1, 1]

In [ ]:
# create a merged list using + operator
# this creates a new list
merged_list = list1 + list2
merged_list

[81, 64, 49, 36, 25, 16, 9, 4, 1, 43, 3, 3, 3, 3, 2, 2, 1, 1]

In [ ]:
# this extends the list1 and changes the list1 and doesn't create a new merged list
list1.extend(list2)
list1

[81, 64, 49, 36, 25, 16, 9, 4, 1, 43, 3, 3, 3, 3, 2, 2, 1, 1]

### 24. Multiply all elements in a list by 2.

In [ ]:
new_list = [x * 2 for x in squares_list]
new_list

[2, 8, 18, 32, 50, 72, 98, 128, 162, 200]

### 25. Filter out all even numbers from a list.

In [ ]:
def filterEvenNos(list1):
  '''filter out even numbers from the list

  Parameters
  list1

  Returns
  list without even nos
  '''
  new_list = [i for i in list1 if i%2!=0]
  return new_list

In [ ]:
filterEvenNos(squares_list)

[1, 9, 25, 49, 81]

In [ ]:
filterEvenNos(even_list)

[]

### 26. Convert a list of strings to a list of integers.

In [ ]:
def stringToIntList(list1):
  '''convert a list of string to list of int

  Parameters
  list1: list of strings

  Returns
  list of int
  '''
  new_list = [int(i) for i in list1]
  return new_list

In [ ]:
stringToIntList(['1','-2','22','-1','11'])

[1, -2, 22, -1, 11]

### 27. Convert a list of integers to a list of strings.

In [ ]:
def intToStringList(list1):
  '''convert a list of int to list of strings

  Parameters
  list1: list of integers

  Returns
  list of str
  '''
  # type conversion using str()
  new_list = [str(i) for i in list1]
  return new_list

In [ ]:
intToStringList(even_list)

['2', '4', '6', '8', '10', '12', '14', '16', '18', '20']

### 28. Flatten a nested list.

In [ ]:
def flattenList(l):
  '''flatten a nested list

  Parameters
  l: list

  Returns
  1D list
  '''
  new_list = []
  for i in l:
    # use extend() to extend if i is a list
    # recursion is used for multi-nested list
    if type(i) == list:
      new_list.extend(flattenList(i))
    # append if i is a value
    else:
      new_list.append(i)
  return new_list

In [ ]:
flattenList([1, 2, [3, 4, [5, 6]], 7, 8, [9, [10]]])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
def fibo(n):
  '''finding the nth fibonacci number

  Parameters
  n: nth value in fibonacci sequence

  Returns
  int value
  '''
  if n <= 2:
    return 1
  else:
    return fibo(n-1) + fibo(n-2)

In [ ]:
# create a list of first 10 fiboacci nos using list comprehension and fibo()
fibo_list = [fibo(i+1) for i in range(10)]
fibo_list

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### 30. Check if a list is sorted.

In [ ]:
def checkSorted(l):
  '''check if list is sorted

  Parameters
  l: list of values

  Returns
  bool value
  '''
  if l == sorted(l):
    return True
  else:
    return False

In [ ]:
print(list1)
checkSorted(list1)

[81, 64, 49, 36, 25, 16, 9, 4, 1, 43, 3, 3, 3, 3, 2, 2, 1, 1]

False

In [ ]:
print(list2)
checkSorted(list2)

[43, 3, 3, 3, 3, 2, 2, 1, 1]

False

### 31. Rotate a list to the left by `n` positions.

In [ ]:
def rotateListLeft1(l,n):
  '''rotate the list to the left by n positions

  Parameters
  l: list
  n: no. of positions with which it needs to be rotated

  Returns
  new list rotated to left by n positions
  '''
  new_list = l.copy()
  length = len(l)
  for i in range(length):
    index = (n+i)%length
    new_list[i] = l[index]
  return new_list

In [ ]:
def rotateListLeft2(l,n):
  '''rotate the list by n positions

  Parameters
  l: list
  n: no. of positions with which it needs to be rotated

  Returns
  new list rotated to left by n positions
  '''
  # normalizing the n value for cases n more than length of list
  n = n%len(l)
  new_list =  l[n:] + l[:n]
  return new_list

In [ ]:
squares_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
rotateListLeft1(squares_list,13)

[16, 25, 36, 49, 64, 81, 100, 1, 4, 9]

In [ ]:
rotateListLeft2(squares_list,3)

[16, 25, 36, 49, 64, 81, 100, 1, 4, 9]

### 32. Rotate a list to the right by `n` positions.

In [ ]:
def rotateListRight1(l,n):
  '''rotate the list to the right by n positions

  Parameters
  l: list
  n: no. of positions with which it needs to be rotated

  Returns
  new list rotated to right by n positions
  '''
  new_list = l.copy()
  length = len(l)
  for i in range(length):
    index = abs((i-n)%length)
    new_list[index] = l[i]
  return new_list

In [ ]:
def rotateListRight2(l,n):
  '''rotate the list by n positions by n positions

  Parameters
  l: list
  n: no. of positions with which it needs to be rotated

  Returns
  new list rotated to Right by n positions
  '''
  # normalizing the n value for cases n more than length of list
  n = n%len(l)
  new_list =  l[-n:] + l[:-n]
  return new_list

In [ ]:
squares_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
rotateListRight1(squares_list,13)

[16, 25, 36, 49, 64, 81, 100, 1, 4, 9]

In [ ]:
rotateListLeft2(squares_list,3)

[16, 25, 36, 49, 64, 81, 100, 1, 4, 9]

### 33. Create a list of prime numbers up to 50.

In [ ]:
def isPrime(num):
  '''check if the number is prime

  Parameters
  num: int value

  Returns
  bool value
  '''
  for i in range(2,num//2+1):
    if num%i == 0:
      return False
  return True

In [ ]:
# using list comprehension and the function isPrime() to get the the prime nos. upto 50
prime_nos = [i for i in range(1,51) if isPrime(i)]
prime_nos

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [ ]:
def createChunks(list1,n):
  '''split a list into chunks of size n

  Parameters
  list1: list to be splitted
  n: length of each chunk

  Returns
  list of chunks
  '''
  new_list = []
  for i in range(0,len(list1),n):
      chunk = list1[i:i+n]
      # if length of list is less and there are not enough elements
      # then for the last chunk initial elements of the list is added to make its size n
      if i+n > len(list1):
        chunk = chunk + list1[:(i+n)-len(list1)]
      new_list.append(chunk)
  return new_list

In [ ]:
createChunks(squares_list,4)

[[1, 4, 9, 16], [25, 36, 49, 64], [81, 100, 1, 4]]

### 35. Find the second largest number in a list.

In [ ]:
def secondMax(l):
  '''second max number in the list

  Parameters
  list1: list to find the second max value

  Returns
  int  value
  '''
  sorted_list = sorted(l)
  return sorted_list[-2]

In [ ]:
secondMax(squares_list)

81

### 36. Replace every element in a list with its square.

In [ ]:
lst = [1,2,41,12,21]
lst

[1, 2, 41, 12, 21]

In [ ]:
# update the lst with the square of the elements and use list comprehension to store it as a list
lst = [i**2 for i in lst]
lst

[1, 4, 1681, 144, 441]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
def listToDict(l):
  '''convert list to dict with key equal to the values in list

  Parameters
  l: list

  Returns
  dict value
  '''
  import enum
  list_dict = {}
  for i in range(len(l)):
    list_dict[l[i]] = i
  return list_dict

In [ ]:
listToDict(squares_list)

{1: 0, 4: 1, 9: 2, 16: 3, 25: 4, 36: 5, 49: 6, 64: 7, 81: 8, 100: 9}

### 38. Shuffle the elements of a list randomly.

In [ ]:
print(list2)
# using random.shuffle() to shuffle the elements of the list randomly
random.shuffle(list2)
list2

[43, 3, 3, 3, 3, 2, 2, 1, 1]

[3, 3, 3, 1, 3, 1, 43, 2, 2]

### 39. Create a list of the first 10 factorial numbers.

In [ ]:
def factorial(num):
  '''find the factorial of the number

  Parameters
  num: int value

  Returns
  int value
  '''
  fact = 1
  for i in range(1,num+1):
    fact *= i
  return fact

In [ ]:
# using list comprehension and the function isPrime() to get the the prime nos. upto 50
fact_list = [factorial(i) for i in range(1,11)]
fact_list

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

### 40. Check if two lists have at least one element in common.

In [ ]:
def checkCommon(list1,list2):
  '''check if 2 lists have at least one element in common

  Parameters
  list1
  list2

  Returns
  bool value
  '''
  # converting list1 into set to use set operations
  set1 = set(list1)
  # using intersection() to check if any elements are in common (returns common elements else False)
  if set1.intersection(list2):
    return True
  else:
    return False

In [ ]:
checkCommon(even_list,odd_list)

False

In [ ]:
checkCommon(squares_list,odd_list)

True

### 41. Remove all elements from a list.

In [ ]:
list1

[81, 64, 49, 36, 25, 16, 9, 4, 1, 43, 3, 3, 3, 3, 2, 2, 1, 1]

In [ ]:
# using .clear() to remove all elements from the list
list1.clear()
list1

[]

### 42. Replace negative numbers in a list with 0.

In [ ]:
def replaceNegativeNos(list1):
  '''replace negative nos in the list with 0

  Parameters
  list1: list with negative values

  Returns
  updated list
  '''
  # using list comprehension to replacing negative elements with 0
  list1 = [(i > 0) * i for i in list1]
  return list1

In [ ]:
replaceNegativeNos([1,2,-1,23,-21,-20,12])

[1, 2, 0, 23, 0, 0, 12]

### 43. Convert a string into a list of words.

In [ ]:
def listOfWords(string):
  '''convert a string into list of words

  Parameters
  string: a sentence or group of words

  Returns
  list: list of words
  '''
  # using .split() to split string into words with parameter = ' ' (space)
  word_list = string.split(' ')
  return word_list

In [ ]:
listOfWords('Python is important in the field of AI.')

['Python', 'is', 'important', 'in', 'the', 'field', 'of', 'AI.']

### 44. Convert a list of words into a string.

In [ ]:
def wordsToString(word_list):
  '''convert a list of words into a single string

  Parameters
  word_list: list of words

  Returns
  list: list of words
  '''
  # using .join() to join the elements of the list
  string = ' '.join(word_list)
  return string

In [ ]:
wordsToString(['Python', 'is', 'important', 'in', 'the', 'field', 'of', 'AI.'])

'Python is important in the field of AI.'

### 45. Create a list of the first `n` powers of 2.

In [ ]:
def powersOf2(n):
  '''create a list with first n powers of 2

  Parameters
  n: all values to n powers of 2

  Returns
  list: n exponential values of 2
  '''
  list_2_power_n = [2**i for i in range(1,n+1)]
  return list_2_power_n

In [ ]:
powersOf2(12)

[2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

### 46. Find the longest string in a list of strings.

In [ ]:
def longestString(string_list):
  '''find the longest string in the given list

  Parameters
  string_list: list of string

  Returns
  string value
  '''
  # initializing maximum length and longest string
  max_len = len(string_list[0])
  longest_string = string_list[0]
  for string in string_list:
    # checking if maximum length is less than the string length then values are updated
    if max_len < len(string):
      longest_string = string
      max_len = len(string)
  return longest_string

In [ ]:
longestString(['Python', 'is', 'important', 'in', 'the', 'field', 'of', 'AI.'])

'important'

### 47. Find the shortest string in a list of strings.

In [ ]:
def shortestString(string_list):
  '''find the shortest string in the given list

  Parameters
  string_list: list of string

  Returns
  string value
  '''
  # initializing maximum length and longest string
  min_len = len(string_list[0])
  shortest_string = string_list[0]
  for string in string_list:
    # checking if minimum length is more than the string length then values are updated
    if min_len > len(string):
      shortest_string = string
      min_len = len(string)
  return shortest_string

In [ ]:
shortestString(['Python', 'is', 'important', 'in', 'the', 'field', 'of', 'AI.'])

'is'

### 48. Create a list of the first `n` triangular numbers.

**Triangular Numbers:** https://study.com/learn/lesson/triangular-numbers-formula-list.html#:~:text=Triangular%20numbers%20are%20numbers%20that,n%20+%201)%20/%202.

In [ ]:
def triangluarNosList(n):
  ''' create a list of first n triangular nos

  Parameters
  n: no of triangular no list to be created

  Returns
  list value
  '''
  triangular_no_list = []
  for i in range(1,n+1):
    # using the formula to find the ith triangular no val = n*(n+1)/2
    ith_value = i*(i+1)/2
    # appending the value into the list
    triangular_no_list.append(ith_value)
  return triangular_no_list

In [ ]:
triangluarNosList(10)

[1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0, 55.0]

### 49. Check if a list contains another list as a subsequence.

In [ ]:
def checkSubsequence(main_list,sub_list):
  '''check if a list contains another list as a sequence

  Parameters
  main_list: list to check for another list
  sub_list: list to be checked in the main list

  Returns
  bool value
  '''
  for i in sub_list:
    # checking if element in sub_list in present in the main list or not
    if i not in main_list:
      return False
  return True

In [ ]:
checkSubsequence([1,4,5,3,13,22],[1,22,3])

True

In [ ]:
checkSubsequence([1,4,5,3,13],[1,22,3])

False

### 50. Swap two elements in a list by their indices.

In [ ]:
def swapElements(l,index1,index2):
  '''swapping the elements in the lit using indices

  Parameters
  l: main list
  index1: index of first element to be swapped
  index2: index of second element to be swapped

  Returns
  list value
  '''
  # swapping the elements in the list
  l[index1],l[index2] = l[index2],l[index1]
  return l

In [ ]:
swapElements([1,2,3,4,5,6,7],4,2)

[1, 2, 5, 4, 3, 6, 7]

# Tuple Based Assignment Problem

### 1. Create a tuple with integers from 1 to 5.

In [1]:
# using range() to create a range of nos. from 1-5 and then typecast it to tuple
int_tuple = tuple(range(1,6))
int_tuple

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [2]:
# this can be done by indexing
int_tuple[2]

3

### 3. Find the length of a tuple without using the `len()` function.

In [3]:
def length(tup):
  ''' custom length finder for the given tuple

  Parameters
  tup: tuple

  Returns
  int value: length
  '''
  count = 0
  # using for loop to iterate over all values and increment count for each value
  for _ in tup:
    count += 1
  return count

In [4]:
length(int_tuple)

5

### 4. Count the occurrences of an element in a tuple.

In [5]:
# using count() to find the no. of occurences of an element
tuple1 = (1,2,3,12,2,34,1,22,2,23,2)
tuple1.count(2)

4

### 5. Find the index of the first occurrence of an element in a tuple.

In [6]:
# using index() to find the index of the first occurence
tuple1.index(2)

1

### 6. Check if an element exists in a tuple.

In [7]:
# using find() to find the index of the first occurence
def checkElementTuple(tup,element):
  '''check if element exists in the tuple

  Parameters
  tup: tuple in which element is to be checked
  element: value to be checked

  Returns
  bool value
  '''
  # using in statement to check if value is there
  if element in tup:
    return True
  else:
    return False

In [8]:
checkElementTuple(tuple1,2)

True

In [9]:
checkElementTuple(tuple1,4)

False

### 7. Convert a tuple to a list.

In [10]:
# typecasting by using list()
converted_list = list(tuple1)
converted_list

[1, 2, 3, 12, 2, 34, 1, 22, 2, 23, 2]

### 8. Convert a list to a tuple.

In [11]:
# typecasting by using tuple()
new_tuple = tuple(converted_list)
new_tuple

(1, 2, 3, 12, 2, 34, 1, 22, 2, 23, 2)

### 9. Unpack the elements of a tuple into variables.

In [12]:
# typecasting by using tuple()
var_tuple = (1,2,3)
x,y,z = var_tuple
print('x :',x,'\ny :',y,'\nz :',z)

x : 1
y : 2
z : 3

### 10. Create a tuple of even numbers from 1 to 10.

In [13]:
# using range() to create a range of nos. from 2-10, increment by 2 and then typecast it to tuple
even_tuple = tuple(range(2,11,2))
even_tuple

(2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [14]:
# using range() to create a range of nos. from 1-10, increment by 2 and then typecast it to tuple
odd_tuple = tuple(range(1,10,2))
odd_tuple

(1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [15]:
# concatenate using '+' operator
combined_tuple = odd_tuple + even_tuple
combined_tuple

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

### 13. Repeat a tuple three times.

In [16]:
# repeating a tuple using '*' operator
repeated_tuple = 3*even_tuple
repeated_tuple

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

### 14. Check if a tuple is empty.

In [17]:
def checkEmpty(tup):
  '''check if tuple is empty

  Parameters
  tup: tuple to be checked

  Returns
  bool value
  '''
  # if tuple is empty, it is equal to False
  if not tup:
    return True
  else:
    return False

In [18]:
checkEmpty(tuple())

True

In [19]:
checkEmpty((1,2,3))

False

### 15. Create a nested tuple.

In [20]:
# using each tuple as an element
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
nested_tuple

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### 16. Access the first element of a nested tuple.

In [21]:
# using indexing
nested_tuple[0]

(1, 2, 3)

### 17. Create a tuple with a single element.

In [22]:
tuplex = (1,)
print("Length of Tuple:",len(tuplex))
print("Tuple:",tuplex)

Length of Tuple: 1
Tuple: (1,)

### 18. Compare two tuples.

In [23]:
def compareTuples(tuple1,tuple2):
  '''compare two tuples if equal

  Parameters
  tupple1,tuple2: tuples to be checked
  '''
  if tuple1 == tuple2:
    print('Tuples are Equal')
  elif tuple1 < tuple2:
    print(tuple2,'is greater')
  else:
    print(tuple1,'is greater')

In [24]:
compareTuples(even_tuple,odd_tuple)

(2, 4, 6, 8, 10) is greater

In [25]:
compareTuples(even_tuple,even_tuple)

Tuples are Equal

### 19. Delete a tuple.

In [26]:
tuplex

(1,)

In [27]:
del tuplex

In [28]:
try:
  print('Tuple: ',tuplex)
except Exception as error:
  print(error)

name 'tuplex' is not defined

### 20. Slice a tuple.

In [29]:
tuple1

(1, 2, 3, 12, 2, 34, 1, 22, 2, 23, 2)

In [30]:
# same usecase as list indexing
print('Sliced Tuple:',tuple1[1:7])

Sliced Tuple: (2, 3, 12, 2, 34, 1)

### 21. Find the maximum value in a tuple.

In [31]:
# using max() to find the maximum element in the tuple
max(tuple1)

34

### 22. Find the minimum value in a tuple.

In [32]:
# using min() to find the maximum element in the tuple
min(tuple1)

1

### 23. Convert a string to a tuple of characters.

In [33]:
# type casting
string1 = 'characters'
tuple_char = tuple(string1)
tuple_char

('c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's')

### 24. Convert a tuple of characters to a string.

In [34]:
# using .join to combine tuple chars into one string
string2 = ''.join(tuple_char)
string2

'characters'

### 25. Create a tuple from multiple data types.

In [35]:
multi_tuple = ('char',12,1.2,True)
multi_tuple

('char', 12, 1.2, True)

### 26. Check if two tuples are identical.

In [36]:
def tuplesIdentical(tuple1,tuple2):
  ''' check if 2 tuples are identical

  Parameters
  tuple1,tuple2: tuples to compare

  Returns
  bool value
  '''
  if tuple1 == tuple2:
    return True
  else:
    return False

In [37]:
tuplesIdentical(even_tuple,(2,4,6,10,8))

False

In [38]:
tuplesIdentical(even_tuple,(2,4,6,8,10))

True

### 27. Sort the elements of a tuple.

In [39]:
tuple1

(1, 2, 3, 12, 2, 34, 1, 22, 2, 23, 2)

In [40]:
# tuple1 is sorted using the sorted()
# sorted() returns a list which is converted to a tuple
tuple(sorted(tuple1))

(1, 1, 2, 2, 2, 2, 3, 12, 22, 23, 34)

### 28. Convert a tuple of integers to a tuple of strings.

In [41]:
int_tuple

(1, 2, 3, 4, 5)

In [42]:
str_tuple = tuple(str(i) for i in int_tuple)
print(str_tuple)

('1', '2', '3', '4', '5')

### 29. Convert a tuple of strings to a tuple of integers.

In [43]:
tup = tuple(int(i) for i in str_tuple)
print(tup)

(1, 2, 3, 4, 5)

### 30. Merge two tuples.

In [44]:
merged_tuple = even_tuple + odd_tuple

In [45]:
merged_tuple

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

### 31. Flatten a nested tuple.

In [46]:
nested_tuple

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [47]:
def flattenTuple(tup):
  '''flatten a nested tuple

  Parameters
  tup: tuple to be flattened

  Returns
  tuple: new flatten tuple
  '''
  # using list as tuples cannot be editted
  new_list = []
  for i in tup:
    # use extend() to extend if i is a list
    # recursion is used for multi-nested list
    if type(i) == tuple:
      new_list.extend(flattenTuple(i))
    # append if i is a value
    else:
      new_list.append(i)
  # converting list to tuple
  return tuple(new_list)

In [48]:
flattenTuple(nested_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### 32. Create a tuple of the first 5 prime numbers.

In [59]:
x = 2
i=1
prime_list = []
# counter for getting first 5 prime nos
while i<=5:
  # for loop to check for prime nos
  for j in range(2,x//2 + 1):
    if x%j==0:
      break
  # list is appended is for loop is not breaken
  if x%j != 0:
    prime_list.append(x)
    i += 1
  x +=1
tuple(prime_list)

(2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [60]:
def isPalindrome(tup):
  '''check if the tuple is palindrome

  Parameters
  tup: to check for palindrome

  Returns
  bool value
  '''
  for i in range(len(tup)//2):
    if tup[i] != tup[-i-1]:
      return False
  return True

In [61]:
isPalindrome((1,2,3,2,1))

True

In [62]:
isPalindrome((1,2,'app6','app6',2,1))

True

In [63]:
isPalindrome((1,2,3,1))

False

### 34. Create a tuple of squares of numbers from 1 to 5.

In [64]:
square_tuple = tuple(i**2 for i in range(1,6))
square_tuple

(1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [65]:
tuple1

(1, 2, 3, 12, 2, 34, 1, 22, 2, 23, 2)

In [66]:
filtered_tuple = tuple(i for i in tuple1 if i%2!=0)
filtered_tuple

(1, 3, 1, 23)

### 36. Multiply all elements in a tuple by 2.

In [67]:
# multiplying each element by 2
multiple_tuple = tuple(2*i for i in square_tuple)
multiple_tuple

(2, 8, 18, 32, 50)

### 37. Create a tuple of random numbers.

In [68]:
import random
# using random function to generate random float nos
random_tuple = tuple(random.random() for i in range(0,10))
random_tuple

(0.15035469856175254,
 0.7004062074297257,
 0.42080661495686833,
 0.30047371222748964,
 0.8191139657959037,
 0.34281373559431116,
 0.18084257120503022,
 0.027872743297327807,
 0.7572337546242902,
 0.5831382054456308)

### 38. Check if a tuple is sorted.

In [69]:
def isSorted(tup):
  '''check if tuple is sorted

  Parameters
  tup: tuple value

  Returns
  bool value
  '''
  return tup == tuple(sorted(tup))

In [70]:
tuple1

(1, 2, 3, 12, 2, 34, 1, 22, 2, 23, 2)

In [71]:
isSorted(tuple1)

False

In [72]:
even_tuple

(2, 4, 6, 8, 10)

In [73]:
isSorted(even_tuple)

True

### 39. Rotate a tuple to the left by `n` positions.

In [74]:
def rotateTupleLeft1(tup,n):
  '''rotate the tuple to the left by n positions

  Parameters
  tup: tuple
  n: no. of positions with which it needs to be rotated

  Returns
  new tuple rotated to left by n positions
  '''
  # create a copy of the tuple
  new_list = list(tup)
  length = len(tup)
  # adding n to ith position to rotate it
  # also use mod if n is more than length of the tuple
  for i in range(length):
    index = (n+i)%length
    new_list[i] = tup[index]
  return tuple(new_list)

In [75]:
def rotateTupleLeft2(tup,n):
  '''rotate the tuple to the left by n positions

  Parameters
  tup: tuple
  n: no. of positions with which it needs to be rotated

  Returns
  new tuple rotated to left by n positions
  '''
  # normalizing the n value for cases n more than length of tuple
  n = n%len(tup)
  new_list =  tup[n:] + tup[:n]
  return tuple(new_list)

In [76]:
even_tuple

(2, 4, 6, 8, 10)

In [77]:
rotateTupleLeft1(even_tuple,13)

(8, 10, 2, 4, 6)

In [78]:
rotateTupleLeft2(even_tuple,3)

(8, 10, 2, 4, 6)

### 40. Rotate a tuple to the right by `n` positions.

In [79]:
def rotateTupleRight1(l,n):
  '''rotate the list to the right by n positions

  Parameters
  tup: tuple
  n: no. of positions with which it needs to be rotated

  Returns
  new tuple rotated to right by n positions
  '''
  # create a copy of the tuple
  new_list = list(tup)
  length = len(tup)
  # adding n to ith position to rotate it
  # also use mod if n is more than length of the tuple
  for i in range(length):
    index = abs((i-n)%length)
    new_list[index] = tup[i]
  return tuple(new_list)

In [80]:
def rotateTupleRight2(tup,n):
  '''rotate the tuple by n positions by n positions

  Parameters
  tup: tuple
  n: no. of positions with which it needs to be rotated

  Returns
  new tuple rotated to Right by n positions
  '''
  # normalizing the n value for cases n more than length of list
  n = n%len(tup)
  new_list =  tup[-n:] + tup[:-n]
  return tuple(new_list)

In [81]:
even_tuple

(2, 4, 6, 8, 10)

In [82]:
rotateTupleRight2(even_tuple,13)

(6, 8, 10, 2, 4)

In [83]:
rotateTupleRight2(even_tuple,3)

(6, 8, 10, 2, 4)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [84]:
def fibo(n):
  '''finding the nth fibonacci number

  Parameters
  n: nth value in fibonacci sequence

  Returns
  int value
  '''
  if n <= 2:
    return 1
  else:
    return fibo(n-1) + fibo(n-2)

In [85]:
# create a tuple of first 5 fiboacci nos using list comprehension and fibo()
fibo_tuple = tuple(fibo(i+1) for i in range(5))
fibo_tuple

(1, 1, 2, 3, 5)

### 42. Create a tuple from user input.

In [86]:
input_val = input("Enter the tuple values(csv): ")
user_tuple = tuple(input_val.split(','))
user_tuple

Enter the tuple values(csv): 2,3,5,PWSkills

('2', '3', '5', 'PWSkills')

### 43. Swap two elements in a tuple.

In [87]:
even_tuple

(2, 4, 6, 8, 10)

In [88]:
# convert to list and then swap the elements
even_list = list(even_tuple)
even_list[0],even_list[3] = even_list[3],even_list[0]
new_tuple = tuple(even_list)
new_tuple

(8, 4, 6, 2, 10)

### 44. Reverse the elements of a tuple.

In [90]:
# using indexing to reverse the tuple
reversed_tuple = odd_tuple[::-1]
reversed_tuple

(9, 7, 5, 3, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [91]:
def powersOf2(n):
  '''create a tuple with first n powers of 2

  Parameters
  n: all values to n powers of 2

  Returns
  tuple: n exponential values of 2
  '''
  tuple_2_power_n = tuple(2**i for i in range(1,n+1))
  return tuple_2_power_n

In [92]:
powersOf2(12)

(2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096)

### 46. Find the longest string in a list of strings.

In [93]:
def longestStringTuple(string_tuple):
  '''find the longest string in the given tuple

  Parameters
  string_tuple: tuple of strings

  Returns
  string value
  '''
  # initializing maximum length and longest string
  max_len = len(string_tuple[0])
  longest_string = string_tuple[0]
  for string in string_tuple:
    # checking if maximum length is less than the string length then values are updated
    if max_len < len(string):
      longest_string = string
      max_len = len(string)
  return longest_string

In [94]:
longestStringTuple(('Python', 'is', 'important', 'in', 'the', 'field', 'of', 'AI.'))

'important'

### 47. Find the shortest string in a list of strings.

In [95]:
def shortestStringtTuple(string_tuple):
  '''find the shortest string in the given tuple

  Parameters
  string_tuple: tuple of string

  Returns
  string value
  '''
  # initializing maximum length and longest string
  min_len = len(string_tuple[0])
  shortest_string = string_tuple[0]
  for string in string_tuple:
    # checking if minimum length is more than the string length then values are updated
    if min_len > len(string):
      shortest_string = string
      min_len = len(string)
  return shortest_string

In [96]:
shortestStringtTuple(['Python', 'is', 'important', 'in', 'the', 'field', 'of', 'AI.'])

'is'

### 48. Create a tuple of the first `n` triangular numbers.

**Triangular Numbers:** https://study.com/learn/lesson/triangular-numbers-formula-list.html#:~:text=Triangular%20numbers%20are%20numbers%20that,n%20+%201)%20/%202.

In [97]:
def triangluarNosTuple(n):
  ''' create a tuple of first n triangular nos

  Parameters
  n: no of triangular nos. tuple to be created

  Returns
  tuple value
  '''
  triangular_no_list = []
  for i in range(1,n+1):
    # using the formula to find the ith triangular no val = n*(n+1)/2
    ith_value = i*(i+1)//2
    # appending the value into the list
    triangular_no_list.append(ith_value)
  return tuple(triangular_no_list)

In [98]:
triangluarNosTuple(10)

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

### 49. Check if a tuple contains another tuple as a subsequence.

In [99]:
def checkSubsequenceTuple(main_tuple,sub_tuple):
  '''check if a tuple contains another tuple as a sequence

  Parameters
  main_tuple: list to check for another tuple
  sub_tuple: list to be checked in the main tuple

  Returns
  bool value
  '''
  for i in sub_tuple:
    # checking if element in sub_tuple in present in the main tuple or not
    if i not in main_tuple:
      return False
  return True

In [100]:
checkSubsequenceTuple((1,4,5,3,13,22),(1,22,3))

True

In [101]:
checkSubsequenceTuple((1,4,5,3,13),(1,22,3))

False

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [102]:
def create01Tuple(n):
  '''create a tuple of alternating 1s and 0s of length n

  Parameters
  n: length of tuple

  Returns
  tuple value
  '''
  alter_list = []
  for i in range(n//2):
    alter_list.append(1)
    alter_list.append(0)
  if n%2==1:
    alter_list.append(1)
  return tuple(alter_list)

In [103]:
create01Tuple(4)

(1, 0, 1, 0)

In [104]:
create01Tuple(5)

(1, 0, 1, 0, 1)

# Set Based Assignment Problem

### 1. Create a set with integers from 1 to 5.

In [38]:
# using range() to create a range of nos. from 1-5 and then typecast it to tuple
int_set = set(range(1,6))
int_set

{1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [39]:
# using add() to add an element
int_set.add(6)
int_set

{1, 2, 3, 4, 5, 6}

### 3. Remove an element from a set.

In [40]:
# using remove() to remove an element
int_set.remove(6)
int_set

{1, 2, 3, 4, 5}

### 4. Check if an element exists in a set.

In [41]:
def checkSetElement(set,element):
  '''check if element exists in the set

  Parameters
  set: set in which element is to be checked
  element: value to be checked

  Returns
  bool value
  '''
  # using in to check if value is there
  if element in set:
    return True
  else:
    return False

In [42]:
checkSetElement(int_set,49)

False

In [43]:
checkSetElement(int_set,5)

True

### 5. Find the length of a tuple without using the `len()` function.

In [44]:
def length(set1):
  ''' custom length finder for the given set

  Parameters
  set1: set

  Returns
  int value: length
  '''
  count = 0
  # using for loop to iterate over all values and increment count for each value
  for _ in set1:
    count += 1
  return count

In [45]:
length(int_set)

5

### 6. Clear all elements from a set.

In [46]:
set1 = {1,2,7,5,4,77}
set1

{1, 2, 4, 5, 7, 77}

In [47]:
# using clear() to clear all the elements
set1.clear()
set1

set()

### 7. Create a set of even numbers from 1 to 10.

In [48]:
# using range() to create a range of nos. from 2-10, increment by 2 and then typecast it to set
even_set = set(range(2,11,2))
even_set

{2, 4, 6, 8, 10}

### 8. Create a tuple of odd numbers from 1 to 10.

In [49]:
# using range() to create a range of nos. from 1-10, increment by 2 and then typecast it to set
odd_set = set(range(1,10,2))
odd_set

{1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [50]:
# using union() to find the union of 2 sets
even_set.union(odd_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 10. Find the intersection of two sets.

In [51]:
# using intersection() to find the intersection of 2 sets
even_set.intersection(odd_set)

set()

In [52]:
int_set.intersection(odd_set)

{1, 3, 5}

In [53]:
even_set.intersection(int_set)

{2, 4}

### 11. Find the difference between two sets.

In [54]:
# using difference() to find the difference of 2 sets
# set outside - set inside
even_set.difference(odd_set)

{2, 4, 6, 8, 10}

In [55]:
int_set.difference(odd_set)

{2, 4}

In [56]:
even_set.difference(int_set)

{6, 8, 10}

### 12. Check if a set is a subset of another set.

In [57]:
combined_set = even_set.union(odd_set)

In [58]:
# using issubset() to find if one set is a subset of another
even_set.issubset(odd_set)

False

In [59]:
combined_set.issubset(even_set)

False

In [60]:
even_set.issubset(combined_set)

True

### 13. Check if a set is a superset of another set.

In [61]:
# using issuperset() to find if one set is a subset of another
even_set.issuperset(odd_set)

False

In [62]:
combined_set.issuperset(even_set)

True

In [63]:
even_set.issuperset(combined_set)

False

### 14. Create a set from a list.

In [64]:
# typecasting by using set()
new_set = set([1,2,3,4,5,33,34,23])
new_set

{1, 2, 3, 4, 5, 23, 33, 34}

### 15. Convert a set to a list.

In [65]:
# typecasting by using list()
converted_list = list(new_set)
converted_list

[1, 2, 3, 4, 5, 33, 34, 23]

### 16. Remove a random element from a set.

In [66]:
new_set

{1, 2, 3, 4, 5, 23, 33, 34}

In [67]:
# using random.choice() to choose a random element from the set
import random
choice = random.choice(list(new_set))
new_set.remove(choice)
print("Removed Element:",choice)
print("Updated Set:",new_set)

Removed Element: 23
Updated Set: {1, 2, 3, 4, 5, 33, 34}

### 17. Pop an element from a set.

In [68]:
new_set

{1, 2, 3, 4, 5, 33, 34}

In [69]:
# use pop() to remove the top elemnet
removed_element = new_set.pop()
print("Removed Element:",removed_element)
print("Updated Set:",new_set)

Removed Element: 1
Updated Set: {2, 3, 4, 5, 33, 34}

### New Section
20. Update a set with elements from another set.
21. Create a set of the first 5 prime numbers.
22. Check if two sets are identical.
23. Create a frozen set.
24. Check if a set is disjoint with another set.
25. Create a set of squares of numbers from 1 to 5.
26. Filter out all even numbers from a set.
27. Multiply all elements in a set by 2.
28. Create a set of random numbers.
29. Check if a set is empty.
30. Create a nested set (hint: use frozenset).
31. Remove an element from a set using the discard method.

### 18. Check if two sets have no elements in common.

In [81]:
def ifNoCommon(set1,set2):
  '''check if 2 sets have no elements in common

  Parameters
  set1,set2: sets to be checked for equality

  Returns
  bool value
  '''
  # returns True if no element in common
  if not set1.intersection(set2):
    return True
  else:
    return False

In [84]:
ifNoCommon(int_set,odd_set)

False

In [83]:
ifNoCommon(even_set,odd_set)

True

### 19. Find the symmetric difference between two sets.

In [87]:
print("Set 1:",even_set)
print("Set 2:",int_set)
# usin ^ to find the symmetric difference
print("Symmetric Difference:",even_set^int_set)
#C  D = (C U D)  (D  C)
union_set = even_set.union(int_set)
intersection_set = even_set.intersection(int_set)
difference_set = union_set.difference(intersection_set)
print("Union Set:",union_set)
print("Intersection Set:",intersection_set)
print("Symmetric Difference:",difference_set)

Set 1: {2, 4, 6, 8, 10}
Set 2: {1, 2, 3, 4, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}
Union Set: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection Set: {2, 4}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

### 1empty

In [ ]:
def checkEmpty(tup):
  '''check if tuple is empty

  Parameters
  tup: tuple to be checked

  Returns
  bool value
  '''
  # if tuple is empty, it is equal to False
  if not tup:
    return True
  else:
    return False

In [ ]:
checkEmpty(tuple())

True

In [ ]:
checkEmpty((1,2,3))

False

### 15. Create a nested tuple.

In [76]:
# using each tuple as an element
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
nested_tuple

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### 16. Access the first element of a nested tuple.

In [77]:
# using indexing
nested_tuple[0]

(1, 2, 3)

### 17. Create a tuple with a single element.

In [78]:
tuplex = (1,)
print("Length of Tuple:",len(tuplex))
print("Tuple:",tuplex)

Length of Tuple: 1
Tuple: (1,)

### 18. Compare two tuples.

In [79]:
def compareTuples(tuple1,tuple2):
  '''compare two tuples if equal

  Parameters
  tupple1,tuple2: tuples to be checked
  '''
  if tuple1 == tuple2:
    print('Tuples are Equal')
  elif tuple1 < tuple2:
    print(tuple2,'is greater')
  else:
    print(tuple1,'is greater')

In [80]:
compareTuples(even_tuple,odd_tuple)

NameError: ignored

In [ ]:
compareTuples(even_tuple,even_tuple)

### 19. Delete a tuple.

In [ ]:
tuplex

In [ ]:
del tuplex

In [ ]:
try:
  print('Tuple: ',tuplex)
except Exception as error:
  print(error)

### 20. Slice a tuple.

In [ ]:
tuple1

In [ ]:
# same usecase as list indexing
print('Sliced Tuple:',tuple1[1:7])

### 21. Find the maximum value in a tuple.

In [ ]:
# using max() to find the maximum element in the tuple
max(tuple1)

### 22. Find the minimum value in a tuple.

In [ ]:
# using min() to find the maximum element in the tuple
min(tuple1)

### 23. Convert a string to a tuple of characters.

In [ ]:
# type casting
string1 = 'characters'
tuple_char = tuple(string1)
tuple_char

### 24. Convert a tuple of characters to a string.

In [ ]:
# using .join to combine tuple chars into one string
string2 = ''.join(tuple_char)
string2

### 25. Create a tuple from multiple data types.

In [ ]:
multi_tuple = ('char',12,1.2,True)
multi_tuple

### 26. Check if two tuples are identical.

In [ ]:
def tuplesIdentical(tuple1,tuple2):
  ''' check if 2 tuples are identical

  Parameters
  tuple1,tuple2: tuples to compare

  Returns
  bool value
  '''
  if tuple1 == tuple2:
    return True
  else:
    return False

In [ ]:
tuplesIdentical(even_tuple,(2,4,6,10,8))

In [ ]:
tuplesIdentical(even_tuple,(2,4,6,8,10))

### 27. Sort the elements of a tuple.

In [ ]:
tuple1

In [ ]:
# tuple1 is sorted using the sorted()
# sorted() returns a list which is converted to a tuple
tuple(sorted(tuple1))

### 28. Convert a tuple of integers to a tuple of strings.

In [ ]:
int_tuple

In [ ]:
str_tuple = tuple(str(i) for i in int_tuple)
print(str_tuple)

### 29. Convert a tuple of strings to a tuple of integers.

In [ ]:
tup = tuple(int(i) for i in str_tuple)
print(tup)

### 30. Merge two tuples.

In [ ]:
merged_tuple = even_tuple + odd_tuple

In [ ]:
merged_tuple

### 31. Flatten a nested tuple.

In [ ]:
nested_tuple

In [ ]:
def flattenTuple(tup):
  '''flatten a nested tuple

  Parameters
  tup: tuple to be flattened

  Returns
  tuple: new flatten tuple
  '''
  # using list as tuples cannot be editted
  new_list = []
  for i in tup:
    # use extend() to extend if i is a list
    # recursion is used for multi-nested list
    if type(i) == tuple:
      new_list.extend(flattenTuple(i))
    # append if i is a value
    else:
      new_list.append(i)
  # converting list to tuple
  return tuple(new_list)

In [ ]:
flattenTuple(nested_tuple)

### 32. Create a tuple of the first 5 prime numbers.

In [ ]:
x = 2
i=1
prime_list = []
# counter for getting first 5 prime nos
while i<=5:
  # for loop to check for prime nos
  for j in range(2,x//2 + 1):
    if x%j==0:
      break
  # list is appended is for loop is not breaken
  if x%j != 0:
    prime_list.append(x)
    i += 1
  x +=1
tuple(prime_list)

### 33. Check if a tuple is a palindrome.

In [ ]:
def isPalindrome(tup):
  '''check if the tuple is palindrome

  Parameters
  tup: to check for palindrome

  Returns
  bool value
  '''
  for i in range(len(tup)//2):
    if tup[i] != tup[-i-1]:
      return False
  return True

In [ ]:
isPalindrome((1,2,3,2,1))

In [ ]:
isPalindrome((1,2,'app6','app6',2,1))

In [ ]:
isPalindrome((1,2,3,1))

### 34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
square_tuple = tuple(i**2 for i in range(1,6))
square_tuple

### 35. Filter out all even numbers from a tuple.

In [ ]:
tuple1

In [ ]:
filtered_tuple = tuple(i for i in tuple1 if i%2!=0)
filtered_tuple

### 36. Multiply all elements in a tuple by 2.

In [ ]:
# multiplying each element by 2
multiple_tuple = tuple(2*i for i in square_tuple)
multiple_tuple

### 37. Create a tuple of random numbers.

In [ ]:
import random
# using random function to generate random float nos
random_tuple = tuple(random.random() for i in range(0,10))
random_tuple

### 38. Check if a tuple is sorted.

In [ ]:
def isSorted(tup):
  '''check if tuple is sorted

  Parameters
  tup: tuple value

  Returns
  bool value
  '''
  return tup == tuple(sorted(tup))

In [ ]:
tuple1

In [ ]:
isSorted(tuple1)

In [ ]:
even_tuple

In [ ]:
isSorted(even_tuple)

### 39. Rotate a tuple to the left by `n` positions.

In [ ]:
def rotateTupleLeft1(tup,n):
  '''rotate the tuple to the left by n positions

  Parameters
  tup: tuple
  n: no. of positions with which it needs to be rotated

  Returns
  new tuple rotated to left by n positions
  '''
  # create a copy of the tuple
  new_list = list(tup)
  length = len(tup)
  # adding n to ith position to rotate it
  # also use mod if n is more than length of the tuple
  for i in range(length):
    index = (n+i)%length
    new_list[i] = tup[index]
  return tuple(new_list)

In [ ]:
def rotateTupleLeft2(tup,n):
  '''rotate the tuple to the left by n positions

  Parameters
  tup: tuple
  n: no. of positions with which it needs to be rotated

  Returns
  new tuple rotated to left by n positions
  '''
  # normalizing the n value for cases n more than length of tuple
  n = n%len(tup)
  new_list =  tup[n:] + tup[:n]
  return tuple(new_list)

In [ ]:
even_tuple

In [ ]:
rotateTupleLeft1(even_tuple,13)

In [ ]:
rotateTupleLeft2(even_tuple,3)

### 40. Rotate a tuple to the right by `n` positions.

In [ ]:
def rotateTupleRight1(l,n):
  '''rotate the list to the right by n positions

  Parameters
  tup: tuple
  n: no. of positions with which it needs to be rotated

  Returns
  new tuple rotated to right by n positions
  '''
  # create a copy of the tuple
  new_list = list(tup)
  length = len(tup)
  # adding n to ith position to rotate it
  # also use mod if n is more than length of the tuple
  for i in range(length):
    index = abs((i-n)%length)
    new_list[index] = tup[i]
  return tuple(new_list)

In [ ]:
def rotateTupleRight2(tup,n):
  '''rotate the tuple by n positions by n positions

  Parameters
  tup: tuple
  n: no. of positions with which it needs to be rotated

  Returns
  new tuple rotated to Right by n positions
  '''
  # normalizing the n value for cases n more than length of list
  n = n%len(tup)
  new_list =  tup[-n:] + tup[:-n]
  return tuple(new_list)

In [ ]:
even_tuple

In [ ]:
rotateTupleRight2(even_tuple,13)

In [ ]:
rotateTupleRight2(even_tuple,3)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
def fibo(n):
  '''finding the nth fibonacci number

  Parameters
  n: nth value in fibonacci sequence

  Returns
  int value
  '''
  if n <= 2:
    return 1
  else:
    return fibo(n-1) + fibo(n-2)

In [ ]:
# create a tuple of first 5 fiboacci nos using list comprehension and fibo()
fibo_tuple = tuple(fibo(i+1) for i in range(5))
fibo_tuple

### 42. Create a tuple from user input.

In [ ]:
input = input("Enter the tuple values(csv): ")
user_tuple = tuple(input.split(','))
user_tuple

### 43. Swap two elements in a tuple.

In [ ]:
even_tuple

In [ ]:
# convert to list and then swap the elements
even_list = list(even_tuple)
even_list[0],even_list[3] = even_list[3],even_list[0]
new_tuple = tuple(even_list)
new_tuple

### 44. Reverse the elements of a tuple.

In [ ]:
# using indexing to reverse the tuple
reversed_tuple = odd_tuple[::-1]
reversed_tuple

### 45. Create a tuple of the first `n` powers of 2.

In [ ]:
def powersOf2(n):
  '''create a tuple with first n powers of 2

  Parameters
  n: all values to n powers of 2

  Returns
  tuple: n exponential values of 2
  '''
  tuple_2_power_n = tuple(2**i for i in range(1,n+1))
  return tuple_2_power_n

In [ ]:
powersOf2(12)

### 46. Find the longest string in a list of strings.

In [ ]:
def longestStringTuple(string_tuple):
  '''find the longest string in the given tuple

  Parameters
  string_tuple: tuple of strings

  Returns
  string value
  '''
  # initializing maximum length and longest string
  max_len = len(string_tuple[0])
  longest_string = string_tuple[0]
  for string in string_tuple:
    # checking if maximum length is less than the string length then values are updated
    if max_len < len(string):
      longest_string = string
      max_len = len(string)
  return longest_string

In [ ]:
longestStringTuple(('Python', 'is', 'important', 'in', 'the', 'field', 'of', 'AI.'))

### 47. Find the shortest string in a list of strings.

In [ ]:
def shortestStringtTuple(string_tuple):
  '''find the shortest string in the given tuple

  Parameters
  string_tuple: tuple of string

  Returns
  string value
  '''
  # initializing maximum length and longest string
  min_len = len(string_tuple[0])
  shortest_string = string_tuple[0]
  for string in string_tuple:
    # checking if minimum length is more than the string length then values are updated
    if min_len > len(string):
      shortest_string = string
      min_len = len(string)
  return shortest_string

In [ ]:
shortestStringtTuple(['Python', 'is', 'important', 'in', 'the', 'field', 'of', 'AI.'])

### 48. Create a tuple of the first `n` triangular numbers.

**Triangular Numbers:** https://study.com/learn/lesson/triangular-numbers-formula-list.html#:~:text=Triangular%20numbers%20are%20numbers%20that,n%20+%201)%20/%202.

In [ ]:
def triangluarNosTuple(n):
  ''' create a tuple of first n triangular nos

  Parameters
  n: no of triangular nos. tuple to be created

  Returns
  tuple value
  '''
  triangular_no_list = []
  for i in range(1,n+1):
    # using the formula to find the ith triangular no val = n*(n+1)/2
    ith_value = i*(i+1)//2
    # appending the value into the list
    triangular_no_list.append(ith_value)
  return tuple(triangular_no_list)

In [ ]:
triangluarNosTuple(10)

### New Section
50. Create a tuple of alternating 1s and 0s of length `n`.

### 49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
def checkSubsequenceTuple(main_tuple,sub_tuple):
  '''check if a tuple contains another tuple as a sequence

  Parameters
  main_tuple: list to check for another tuple
  sub_tuple: list to be checked in the main tuple

  Returns
  bool value
  '''
  for i in sub_tuple:
    # checking if element in sub_tuple in present in the main tuple or not
    if i not in main_tuple:
      return False
  return True

In [ ]:
checkSubsequenceTuple((1,4,5,3,13,22),(1,22,3))

In [ ]:
checkSubsequenceTuple((1,4,5,3,13),(1,22,3))

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
def create01Tuple(n):
  '''create a tuple of alternating 1s and 0s of length n

  Parameters
  n: length of tuple

  Returns
  tuple value
  '''
  alter_list = []
  for i in range(n//2):
    alter_list.append(1)
    alter_list.append(0)
  if n%2==1:
    alter_list.append(1)
  return tuple(alter_list)

In [ ]:
create01Tuple(4)

In [ ]:
create01Tuple(5)