<a href="https://colab.research.google.com/github/joel2982/PW-Skills-Assignment/blob/master/20th_August_Datatypes_Practice_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String Based Assignment Problem

### 1. Write a program to reverse a string.

In [ ]:
string = input('Enter the String : ')
reversed = string[::-1]
print('Reversed String :',reversed)

Enter the String : Python
Reversed String : nohtyP

### 2. Check if a string is a palindrome.

In [ ]:
string = input('Enter the String : ')
# converting the whole string into uppercase characters
temp = string.upper()
# reversing the string
reversed = temp[::-1]
if reversed == temp:
  print(string,'is a palindrome string')
else:
  print(string,'is not a palindrome string')

Enter the String : malayalam
malayalam is a palindrome string

### 3. Convert a string to uppercase.

In [ ]:
string = input('Enter the String : ')
# converting the whole string into uppercase characters
new_string = string.upper()
print(new_string)

Enter the String : assignment
ASSIGNMENT

### 4. Convert a string to lowercase.

In [ ]:
string = input('Enter the String : ')
# converting the whole string into lowercase characters
new_string = string.lower()
print(new_string)

Enter the String : sTRIng PrOBLEMS
string problems

### 5,6. Count the number of vowels and consonants in a string.

In [ ]:
string = input('Enter the String : ')
string = string.upper()
vowel_count = 0
consonant_count = 0
for char in string:
  # checking if the char is a vowel
  if char in 'AEIOU':
    vowel_count = vowel_count + 1
  # checking if character is alphabet and it will only if char is not a vowel.
  # hence it increments when char is consonant but not when it is a special char
  elif char.isalpha():
    consonant_count = consonant_count + 1
print('No of Vowels :',vowel_count)
print('No of Consonants :',consonant_count)

Enter the String : what is a string?
No of Vowels : 4
No of Consonants : 9

### 7. Remove all whitespaces from a string.

In [ ]:
string = input('Enter the String : ')
# using join over splitting the string is more efficient than relpace
# as it takes into consideration multi-line strings also
new_string = "".join(string.split())
print(new_string)

Enter the String : what is a string.
whatisastring.

### 8. Find the length of a string without using the `len()` function.

In [ ]:
string = input('Enter the String : ')
# using for loop to find the length
count = 0
# iterates untill all characters of the string are accessed
for char in string:
    count = count + 1
print('Length of the String :',count)

Enter the String : practice is important
Length of the String : 21

### 9. Check if a string contains a specific word.

There can be 2 sub-cases for the above question.


1.   If the specific word is present in the string as a whole word
2.   If the specific word is present in the string not necessarily as a whole word. It can also be a part of any word in the string.

In [ ]:
string = input('Enter the String : ')
word = input('Enter the Word to be searched : ')
# using 'in' keyword to find if word is there in the string
# 'split' is used just check if the whole word is present
# 'ate' is not present in 'water is a necessity' but if we just use 'in' is will return True because ate is a substring in water but ate is not a specific word in the string
if word in string.split():
  print(word,'is present in',string)
else:
  print(word,'is not present in',string)

Enter the String : water is a necessity
Enter the Word to be searched : water
water is present in water is a necessity

In [ ]:
string = input('Enter the String : ')
word = input('Enter the Word to be searched : ')
# using 'in' keyword to find if word is there in the string as a whole word or a part of a sub-word
if word in string:
  print(word,'is present in',string)
else:
  print(word,'is not present in',string)

Enter the String : water is a necessity
Enter the Word to be searched : ate
ate is present in water is a necessity

### 10. Replace a word in a string with another word.

In [ ]:
def replaceWord(string,word,new_word):
  '''replaces all occurences of a specific word present in a string with another word

  Parameters
  string: main string to check if word is present
  word: the word to be swapped from the string
  new_word: the word taking place of the older word

  Returns
  the new string if the word is present, else prompts that string is not present
  '''
  # checking if word is present in the string
  if word in string:
      new_string = ''.join(string.replace(word,new_word))
  else:
    return f'{word} is not present in the string'
  return new_string

In [ ]:
replaceWord('air water air air','air','land')

'land water land land'

In [ ]:
replaceWord('air water air air','land','air')

'land is not present in the string'

### 11. Count the occurrences of a word in a string.

In [ ]:
def countWordOccurences(string,word):
  '''find the no of occurences of a specific word in the given string

  Parameters
  string: main string
  word: find the no of occurences in the string

  Returns int
  count: no of occurences of the word
  '''
  # checking if word is present in the string
  words = string.split()
  count = 0
  for w in words:
    if word == w:
      count += 1
  return count

In [ ]:
countWordOccurences('air water air air','air')

3

In [ ]:
countWordOccurences('air water air air','land')

0

### 12. Find the first occurrence of a word in a string.

In [ ]:
def firstWordOccurence(string,word):
  '''find the first occurence of a specific word in the given string

  Parameters
  string: main string
  word: substring

  Returns int
  index: index of the word
  '''
  # checking if word is present in the string
  words = string.split()
  index = -1
  for i in range(len(words)):
    if word == words[i]:
      index = i
      break
  return index

In [ ]:
firstWordOccurence('land water air','air')

2

In [ ]:
firstWordOccurence('air water air air','land')

-1

### 13. Find the last occurrence of a word in a string.

In [ ]:
def lastWordOccurence(string,word):
  '''find the last occurence of a specific word in the given string

  Parameters
  string: main string
  word: substring

  Returns int
  index: index of the word
  '''
  # checking if word is present in the string
  words = string.split()
  index = -1
  for i in range(len(words)):
    if word == words[i]:
      index = i
  return index

In [ ]:
lastWordOccurence('land water air air, air','air')

4

In [ ]:
lastWordOccurence('air water air air','land')

-1

### 14. Split a string into a list of words.

In [ ]:
def splitString(string):
  '''split a string into a list of words

  Parameters
  string: main string

  Returns list
  words: list of words
  '''
  # checking if word is present in the string
  words = string.split()
  return words

In [ ]:
splitString('land water air')

['land', 'water', 'air']

In [ ]:
splitString('air water air air   land')

['air', 'water', 'air', 'air', 'land']

### 15. Join a list of words into a string.

In [ ]:
def joinWords(words):
  '''combine a list of words into a string

  Parameters
  words: a list of substrings

  Returns string
  string: one string
  '''
  # checking if word is present in the string
  string = ' '.join(words)
  return string

In [ ]:
joinWords(['land', 'water', 'air'])

'land water air'

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
def spacesToUnderscores(string):
  '''converting spaces to underscores

  Parameters
  string: main string

  Returns string
  string: replaced spaces with underscores
  '''
  # checking if word is present in the string
  new_string = '_'.join(string.split())
  return new_string

In [ ]:
spacesToUnderscores('land water air')

'land_water_air'

### 17. Check if a string starts with a specific word or phrase.

In [ ]:
def checkStartSubstring(string,substring):
  '''checking if string starts with a substring

  Parameters
  string: main
  substring: smaller string

  Returns
  bool value
  '''
  # checking if word is present in the string
  l = len(substring)
  if string[:l] != substring:
    return False
  return True

In [ ]:
checkStartSubstring('I love programming','I love pro')

True

In [ ]:
checkStartSubstring('I love programming','I love coding')

False

### 18. Check if a string ends with a specific word or phrase.

In [ ]:
def checkEndSubstring(string,substring):
  '''check if a string ends with a specific substrinf

  Parameters
  string: main
  substring: smaller string

  Returns
  bool value
  '''
  # checking if word is present in the string
  l = len(substring)
  if string[-l::] == substring:
    return True
  else:
    return False

In [ ]:
checkEndSubstring('sometimes, I like programming','I like programming')

True

In [ ]:
checkEndSubstring('sometimes, I like programming','I like coding')

False

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
def titleCase(string):
  '''Convert a string to title case.

  Parameters
  string

  Returns
  string: changed into title case
  '''
  # using .title func to return titlecase string
  return string.title()

In [ ]:
titleCase('sometimes, i love programming.')

'Sometimes, I Love Programming.'

### 20. Find the longest word in a string.

In [ ]:
def longestWord(string):
  '''find the longest word in the string.

  Parameters
  string

  Returns string
  word: longest word
  '''
  words = string.split()
  max = 0
  long_word = ''
  for word in words:
    word = word.replace(',','').replace('.','').replace('"','').replace("'",'')
    if len(word) >= max:
      long_word = word
      max = len(word)
  return long_word

In [ ]:
longestWord('sometimes, i love programming.')

'programming'

### 21. Find the shortest word in a string.

In [ ]:
def shortWord(string):
  '''find the shortest word in the string.

  Parameters
  string

  Returns string
  word: longest word
  '''
  words = string.split()
  min = 1000
  short_word = ''
  for word in words:
    word = word.replace(',','').replace('.','').replace('"','').replace("'",'')
    if len(word) < min:
      short_word = word
      min = len(word)
  return short_word

In [ ]:
shortWord('sometimes, i love programming.')

'i'

### 22. Reverse the order of words in a string.

In [ ]:
def reverseWordOrder(string):
  '''reverse the word order of the string

  Parameters
  string

  Returns string
  reversed_string
  '''
  # string = string.replace(',','').replace('.','')
  words = string.split()
  reversed_string = ' '.join(words[::-1])
  return reversed_string

In [ ]:
reverseWordOrder('sometimes, i love programming.')

'programming. love i sometimes,'

### 23. Check if a string is alphanumeric.

In [ ]:
def reverseWordOrder(string):
  '''check if a string is alphanumeric

  Parameters
  string

  Returns
  bool value
  '''
  # string = string.replace(',','').replace('.','')
  return string.isalnum()

In [ ]:
reverseWordOrder('sometimes, i love programming.')

False

In [ ]:
reverseWordOrder('sometimesiloveprogramming')

True

### 24. Extract all digits from a string.

In [ ]:
def extractDigits(string):
  '''extract all the digits from the string

  Parameters
  string

  Returns
  digits: all digits
  '''
  digits = ''
  for char in string:
    # using isdigit func. to check if each char is num or not
    if char.isdigit():
      digits += char
  return digits

In [ ]:
extractDigits('sometimes, i love programming.')

''

In [ ]:
extractDigits('22 Baker Street')

'22'

### 25. Extract all alphabets from a string.

In [ ]:
def extractAlpha(string):
  '''extract all the digits from the string

  Parameters
  string

  Returns
  digits: all digits
  '''
  alpha = ''
  for char in string:
    # using isdigit func. to check if each char is alphabet or not
    if char.isalpha():
      alpha += char
  return alpha

In [ ]:
extractAlpha('pwskills12 231')

'pwskills'

### 26. Count the number of uppercase letters in a string.

In [ ]:
def countUpper(string):
  '''count the number of uppercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using isupper to check if char is a uppercase letter and then using sum function to add all 1s [list comprehension]
  count = sum(1 for char in string if char.isupper())
  return count

In [ ]:
countUpper('sometimes, i love programming.')

0

In [ ]:
countUpper('Sometimes, I love PrOGRAMMing.')

9

### 27. Count the number of lowercase letters in a string.

In [ ]:
def countLower(string):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  count = sum(1 for char in string if char.islower())
  return count

In [ ]:
countLower('SOMETIMES .')

0

In [ ]:
countLower('Sometimes, I love PrOGRAMMing.')

16

### 28. Swap the case of each character in a string.

In [ ]:
def swapCase(string):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  string: with swapped case letters
  '''

  return string.swapcase()

In [ ]:
swapCase('SOMETIMES .')

'sometimes .'

In [ ]:
swapCase('Sometimes, I love PrOGRAMMing.')

'sOMETIMES, i LOVE pRogrammING.'

### 29. Remove a specific word from a string.

In [ ]:
def removeWord(string,word):
  '''remove a specific word from string

  Parameters
  string

  Returns
  new_string:
  '''
  words = string.split()
  while word in words:
    words.remove(word)
  new_string = ' '.join(words)
  return new_string

In [ ]:
removeWord('air water air air','air')

'water'

In [ ]:
removeWord('air airbone','air')

'airbone'

### 30. Check if a string is a valid email address.

In [ ]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [ ]:
checkEmail('asd21asa_an@gmail.com')

True

In [ ]:
checkEmail('sa-.jhn@g12mail.com')

False

### 31. Extract the username from an email address string.

In [ ]:
def extractUsername(email):
  '''extract username from the email

  Parameters
  email: valid email id

  Returns
  username: str value
  '''
  username = email.split("@")[0]
  return username

In [ ]:
extractUsername('asd21asa_an@gmail.com')

'asd21asa_an'

In [ ]:
extractUsername('jasJ_ab12ok@hotmail.in')

'jasJ_ab12ok'

### 32. Extract the domain name from an email address string.

In [ ]:
def extractDomain(email):
  '''extract the domain name from the email id

  Parameters
  email: valid email id

  Returns
  domain: str value
  '''
  # using .split to extact the email domain name
  domain = email.split('@')[1]
  return domain

In [ ]:
extractDomain('asd21asa_an@gmail.com')

'gmail.com'

In [ ]:
extractDomain('sajhn@hotmail.in')

'hotmail.in'

### 33. Replace multiple spaces in a string with a single space.

In [ ]:
def replaceMultipleSpaces(string):
  ''' replace multiple spaces by a single space

  Parameters
  string

  Returns
  new_string: str value
  '''
  new_string = " ".join(string.split())
  return new_string

In [ ]:
replaceMultipleSpaces('mail   abc          apple')

'mail abc apple'

### 34. Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse
def validURL(url):
  '''checking for a valid url

  Parameters
  url

  Returns
  bool value
  '''
  try:
    parse = urlparse(url)
    return all([parse.scheme,parse.netloc])
  except ValueError:
    return False

In [ ]:
validURL('https://colab.research.google.com/drive/1PEiBoZc4lTsr8-YechpWRXABx_ZaezYL?authuser=0#scrollTo=7Ni57V7kSeec')

True

In [ ]:
validURL('sa-.jhn@g12mail.com')

False

### 35. Extract the protocol (http or https) from a URL string.

In [ ]:
def getProtocol(url):
  '''fetch the url protocol from the string

  Parameters
  url

  Returns
  protocol: url protocol, if there
  '''
  index = url.find('://')
  if index != -1:
    return url[:index]
  return "N/A"

In [ ]:
getProtocol('ftp:/ftp.example.com')

'N/A'

In [ ]:
getProtocol('https://colab.research.google.com/drive/1PEiBoZc4lTsr8-YechpWRXABx_ZaezYL?authuser=0#scrollTo=aTQqmuKjSeiR')

'https'

### 36. Find the frequency of each character in a string.

In [ ]:
def charFrequency(string):
  '''frequency of each character

  Parameters
  string

  Returns
  dict value
  '''
  freq_dict = {}
  string = string.lower()
  for i in string:
    if i in freq_dict:
      freq_dict[i] += 1
    else:
      freq_dict[i] = 1
  return freq_dict

In [ ]:
charFrequency('asd21asa_an@gmail.com')

{'a': 5,
 's': 2,
 'd': 1,
 '2': 1,
 '1': 1,
 '_': 1,
 'n': 1,
 '@': 1,
 'g': 1,
 'm': 2,
 'i': 1,
 'l': 1,
 '.': 1,
 'c': 1,
 'o': 1}

In [ ]:
charFrequency('PW Skills Strings')

{'p': 1,
 'w': 1,
 ' ': 2,
 's': 4,
 'k': 1,
 'i': 2,
 'l': 2,
 't': 1,
 'r': 1,
 'n': 1,
 'g': 1}

### 37. Remove all punctuation from a string.

In [ ]:
import string as st
def removePunctuations(string):
  '''remove all punctuations

  Parameters
  string

  Returns
  new_string: string without punctuations
  '''
  new_string = ''
  for char in string:
    if char not in st.punctuation:
      new_string += char
  return new_string

In [ ]:
removePunctuations('asd21asa_an@gmail.com')

'asd21asaangmailcom'

### 38. Check if a string contains only digits.

In [ ]:
def checkDigits(string):
  '''check if sting only contains digits

  Parameters
  string

  Returns
  bool value
  '''
  if string.isdigit():
    return True
  else:
    return False

In [ ]:
checkDigits('asd21asa_an@gmail.com')

False

In [ ]:
checkDigits('12311021')

True

### 39. Check if a string contains only alphabets.

In [ ]:
def checkAlpha(string):
  '''check if sting only contains alphabets

  Parameters
  string

  Returns
  bool value
  '''
  # isaplha() check if string only contains alphabets
  if string.isalpha():
    return True
  else:
    return False

In [ ]:
checkAlpha('asd21asa_an@gmail.com')

False

In [ ]:
checkAlpha('ABCDEFG')

True

### 40. Convert a string to a list of characters.

In [ ]:
def listOfChars(string):
  '''convert string to list of chars

  Parameters
  string

  Returns
  list
  '''
  # using list function
  list_char = list(string)
  return list_char

In [ ]:
listOfChars('PW Skills')

['P', 'W', ' ', 'S', 'k', 'i', 'l', 'l', 's']

### 41. Check if two strings are anagrams.

In [ ]:
def checkAnagrams(string1,string2):
  '''check if 2 strings are anagrams

  Parameters
  string1
  string2

  Returns
  bool value
  '''
  string1 = string1.lower()
  string2 = string2.lower()
  for char in string1:
    if char in string2:
      string2.replace(char,'',1)
    else:
      return False
  return True

In [ ]:
checkAnagrams('mars','rams')

True

In [ ]:
checkAnagrams('mars','ram')

False

### 42. Encode a string using a Caesar cipher.

Here, `ord(char)` is used to get the ASCII value of the character. However, the shift operation is slightly different.

```
chr((ord(char)+shift-65)%26 + 65)
```
I have **subtracted 65** from the sum of `ord(char) + shift` before performing the **modulo operation % 26** (which allows wrapping within the 26 letters of the alphabet).

Then adds 65 back to the result. This approach is useful when you want to ensure the shift stays within the range of alphabetical characters (ASCII values 65 to 90 for uppercase letters in the English alphabet).

In [ ]:
def encrypt(string,shift):
  '''encode the given string using Caesar Cipher

  Parameters
  string: main text to ne encoded
  shift: no of letters to be shifted

  Returns
  encoded_string
  '''
  encoded_string = ''
  for char in string:
    # Shift is added to the char ASCII value to get a new ASCII value(decrypted)
    if char.isupper():
      encoded_string += chr((ord(char)+shift-65)%26 + 65)
    elif char.islower():
      encoded_string += chr((ord(char)+shift-97)%26 + 97)
    else:
      encoded_string += char
  return encoded_string

In [ ]:
encrypt('Secret Message!',7)

'Zljyla Tlzzhnl!'

### 43. Decode a Caesar cipher encoded string.

In [ ]:
def decrypt(encoded_string,shift):
  '''Decrypt the message using caesar cipher technique

  Parameters
  encoded: encoded text to be decoded
  shift: no of letters to be shifted

  Returns
  string
  '''
  string = ''
  for char in encoded_string:
    # Shift is subtracted from ASCII value to get the original ASCII value of the char
    if char.isupper():
      string += chr((ord(char)-shift-65)%26 + 65)
    elif char.islower():
      string += chr((ord(char)-shift-97)%26 + 97)
    else:
      string += char
  return string

In [ ]:
decrypt('Zljyla Tlzzhnl!',7)

'Secret Message!'

### 44. Find the most frequent word in a string.

In [ ]:
def mostFreqWord(string):
  '''find the most frequent word in string

  Parameters
  string

  Returns
  most frequent word
  '''
  word_dict = {}
  # remove all punctuation chars from the string, lower and split it
  string_list = removePunctuations(string).lower().split(' ')
  for word in string_list:
    # if word not occured already it creates an instance else increments
    if word in word_dict:
      word_dict[word] += 1
    else:
      word_dict[word] = 1
  # zipping value, key then take the max of value
  freq_word = max(zip(word_dict.values(), word_dict.keys()))[1]
  return freq_word

In [ ]:
mostFreqWord('Water is important, although it is very scarce.')

'is'

In [ ]:
mostFreqWord('Water is important, although it is very scarce. Water, waTer')

'water'

### 45. Find all unique words in a string.

In [ ]:
def uniqueWords(string):
  '''get all the unique words in the string

  Parameters
  string

  Returns
  list: unique words
  '''
  uniq_words = []
  # remove all punctuation chars from the string, lower and split it
  string_list = removePunctuations(string).lower().split(' ')
  for word in string_list:
    if word not in uniq_words:
      uniq_words.append(word)
  return uniq_words

In [ ]:
uniqueWords('Water is important, although it is very scarce. Water, waTer')

['water', 'is', 'important', 'although', 'it', 'very', 'scarce']

### 46. Count the number of syllables in a string.

In [ ]:
def count_syllables(word):
  word = word.lower()
  count = 0
  # Remove trailing 'e' but not 'le'
  if word.endswith('e') and not word.endswith('le'):
      word = word[:-1]
  # Adjustments for words ending in 'ed' or 'es'
  if word.endswith(('ed', 'es')):
      word = word[:-2]
  # Count vowels
  vowels = "aeiouy"
  if word[0] in vowels:
    count += 1
  for i in range(1, len(word)):
    if word[i] in vowels and word[i-1] not in vowels:
      count += 1
  # Adjustments for lone 'e' at the end (considered as separate syllable)
  if count == 0:
    count = 1
  return count

In [ ]:
count_syllables('hairy')

2

In [ ]:
count_syllables('pickle')

2

In [ ]:
count_syllables('combination')

4

### 47. Check if a string contains any special characters.

In [ ]:
def checkSpecialChars(string):
  '''check if string contains special chars

  Parameters
  string

  Returns
  bool value
  '''
  for char in string:
    if char in st.punctuation:
      return True
  return False

In [ ]:
checkSpecialChars('asd21asa_an@gmail.com')

True

In [ ]:
checkSpecialChars('PW Skills')

False

### 48. Remove the nth word from a string.

In [ ]:
def removeNthWord(string,n):
  '''remove the nth word from the string

  Parameters
  string
  n: remove nth word

  Returns
  updated string
  '''
  string_list = string.split(' ')
  string_list.pop(n)
  new_string = ' '.join(string_list)
  return new_string

In [ ]:
removeNthWord('Water is important, although it is very scarce.',3)

'Water is important, it is very scarce.'

### 49. Insert a word at the nth position in a string.

In [ ]:
def insertAtN(string,new_word,n):
  '''insert word at nth position

  Parameters
  string
  new_word: word to be added
  n: add the word at nth pos

  Returns
  updated string
  '''
  string_list = string.split(' ')
  string_list.insert(n,new_word)
  new_string = ' '.join(string_list)
  return new_string

In [ ]:
insertAtN('Water is important, it is very scarce.','although',3)

'Water is important, although it is very scarce.'

### 50. Convert a CSV string to a list of lists.

In [ ]:
csv = '''name, id, favorite food
quincy, 1, hot dogs
beau, 2, cereal
abbey, 3, pizza
mrugesh, 4, ice cream'''

In [ ]:
def convertCSVtoList(csv):
  '''convert a CSV string into list of lists

  Parameters
  string: in form of csv

  Returns
  2D List/ List of Lists
  '''
  # splitting the string into lines
  lines = csv.split('\n')
  list2D = []
  for line in lines:
    # splitting the line into values
    row = line.split(',')
    list2D.append(row)
  return list2D

In [ ]:
convertCSVtoList(csv)

[['name', ' id', ' favorite food'],
 ['quincy', ' 1', ' hot dogs'],
 ['beau', ' 2', ' cereal'],
 ['abbey', ' 3', ' pizza'],
 ['mrugesh', ' 4', ' ice cream']]

# List Based Assignment Problem

### 1. Create a list with integers from 1 to 10.

In [133]:
# using range() to create a range of nos. from 1-10 and then convert it to list
int_list = list(range(1,11))
int_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [134]:
def length(l):
  ''' custom length finder for the given list

  Parameters
  l: list

  Returns
  int value: length
  '''
  count = 0
  # using for loop to iterate over all values and increment count for each value
  for _ in l:
    count += 1
  return count

In [135]:
length(int_list)

10

### 3. Append an element to the end of a list.

In [136]:
# using .append() to add new value at the end of the list
int_list.append(11)
int_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

### 4. Insert an element at a specific index in a list.

In [137]:
def insertElement(l,element,index):
  '''insert new element at the specified index of the list

  Parameters
  l: list in which element is to be added
  element: value to be added
  index: index of list at which element needs to be added
  '''
  # if index is more than the length it just appends the list
  if len(l) < index:
    l.append(element)
  # adding value into index given
  else:
    # iterate it from index given to the last index
    for i in range(index,len(l)):
      temp = l[i]
      l[i] = l[i-1]
    # appending the last value of the list
    l.append(temp)
    # adding the new value into the specific index
    l[index] = element
  return l

In [138]:
insertElement([1,2,3,41,24,22],21,5)

[1, 2, 3, 41, 24, 21, 22]

In [139]:
insertElement([1,2,3,41,24,22],21,10)

[1, 2, 3, 41, 24, 22, 21]

### 5. Remove an element from a list by its value.

In [140]:
list1 = [1,4,9,16,25,36,43,49,49,64,81,100]
list1

[1, 4, 9, 16, 25, 36, 43, 49, 49, 64, 81, 100]

In [141]:
# using remove() to remove a value from the list
list1.remove(43)
# the function only removes first instance of the specific value
list1.remove(49)
list1

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 6. Remove an element from a list by its index.

In [142]:
# using pop() to remove a value at the specific index from the list
removed_element = list1.pop(9)
print("Removed Element: ",removed_element)
print("Updated List: ",list1)

Removed Element:  100
Updated List:  [1, 4, 9, 16, 25, 36, 49, 64, 81]

### 7. Check if an element exists in a list.

In [143]:
def checkElement(l,element):
  '''check if element exists in the list

  Parameters
  l: list in which element is to be checked
  element: value to be checked

  Returns
  bool value
  '''
  # using in to check if value is there
  if element in l:
    return True
  else:
    return False

In [144]:
checkElement(list1,49)

True

In [145]:
checkElement(list1,42)

False

### 8. Find the index of the first occurrence of an element in a list.

In [146]:
# using index() to find the index of the first occurence
list2 = [1,2,3,1,2,3,3,43,3]
list2.index(3)

2

### 9. Count the occurrences of an element in a list.

In [147]:
# using count() to find the no. of occurences of an element
list2.count(3)

4

In [148]:
list2.count(1)

2

### 10. Reverse the order of elements in a list.

In [149]:
# using .reverse() to reverse the order of the elements
list1.reverse()
list1

[81, 64, 49, 36, 25, 16, 9, 4, 1]

### 11. Sort a list in ascending order.

In [150]:
# sort() to sort list in ascending order
list1.sort()
list1

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [151]:
list2.sort()
list2

[1, 1, 2, 2, 3, 3, 3, 3, 43]

### 12. Sort a list in descending order.

In [152]:
# using sort() with setting parameter reverse = True for descending order
list1.sort(reverse=True)
list1

[81, 64, 49, 36, 25, 16, 9, 4, 1]

In [153]:
list2.sort(reverse=True)
list2

[43, 3, 3, 3, 3, 2, 2, 1, 1]

### 13. Create a list of even numbers from 1 to 20.

In [154]:
# using range() which starts from 2-20 and increments with 2
even_list = list(range(2,21,2))
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [155]:
# using list comprehension to generate a list of even nos
even_list = [i for i in range(1,21) if i%2==0]
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [156]:
# using range() which starts from 1-20 and increments with 2
odd_list = list(range(1,21,2))
odd_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [157]:
# using list comprehension to generate a list of odd nos
odd_list = [i for i in range(1,21) if i%2==1]
odd_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [158]:
# using sum() to find the sum of all elements in the list
sum(odd_list)

100

In [159]:
sum(even_list)

110

### 16. Find the maximum value in a list.

In [160]:
# using max() to find the maximum element in the list
max(odd_list)

19

In [161]:
max(even_list)

20

### 17. Find the minimum value in a list.

In [162]:
# using min() to find the maximum element in the list
min(odd_list)

1

In [163]:
min(even_list)

2

### 18. Create a list of squares of numbers from 1 to 10.

In [164]:
# using list comprehension to create a list of squares
squares_list = [i**2 for i in range(1,11)]
squares_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [165]:
import random
# using random.sample() to create a list of random nos.
# nos. are between 1-49 and the length of list is 10
random_list = random.sample(range(1, 50), 10)
random_list

[22, 45, 46, 11, 25, 34, 10, 33, 39, 35]

### 20. Remove duplicates from a list.

In [166]:
def removeDuplicates(l):
  '''remove the duplicates from the list

  Parameters
  list: with duplicates

  Returns
  list with unique elements
  '''
  # set only has the values once, i.e. stores unique values/elements
  uniq_set = set(l)
  return list(uniq_set)

In [167]:
list2

[43, 3, 3, 3, 3, 2, 2, 1, 1]

In [168]:
removeDuplicates(list2)

[3, 1, 2, 43]

### 21. Find the common elements between two lists.

In [169]:
def findCommonElements(list1,list2):
  '''find the common elements in the two lists

  Parameters (lists to check the elements)
  list1
  list2

  Returns
  list with common elements
  '''
  common_list = [i for i in list1 if i in list2]
  return common_list

In [170]:
findCommonElements(squares_list,even_list)

[4, 16]

In [171]:
findCommonElements(squares_list,odd_list)

[1, 9]

In [172]:
findCommonElements(even_list,odd_list)

[]

### 22. Find the difference between two lists.

In [173]:
def diffBetweenList(list1,list2):
  '''find the difference between the two lists, i.e. elements in list1 that are not in list 2

  Parameters
  list1
  list2

  Returns
  list with elements in list1 but not in list2
  '''
  diff_list = [i for i in list1 if i not in list2]
  return diff_list

In [174]:
diffBetweenList(squares_list,even_list)

[1, 9, 25, 36, 49, 64, 81, 100]

In [175]:
diffBetweenList(squares_list,odd_list)

[4, 16, 25, 36, 49, 64, 81, 100]

In [176]:
diffBetweenList(even_list,odd_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 23. Merge two lists.

In [177]:
print(list1)
print(list2)

[81, 64, 49, 36, 25, 16, 9, 4, 1]
[43, 3, 3, 3, 3, 2, 2, 1, 1]

In [178]:
# create a merged list using + operator
# this creates a new list
merged_list = list1 + list2
merged_list

[81, 64, 49, 36, 25, 16, 9, 4, 1, 43, 3, 3, 3, 3, 2, 2, 1, 1]

In [179]:
# this extends the list1 and changes the list1 and doesn't create a new merged list
list1.extend(list2)
list1

[81, 64, 49, 36, 25, 16, 9, 4, 1, 43, 3, 3, 3, 3, 2, 2, 1, 1]

### 24. Multiply all elements in a list by 2.

In [180]:
new_list = [x * 2 for x in squares_list]
new_list

[2, 8, 18, 32, 50, 72, 98, 128, 162, 200]

### 25. Filter out all even numbers from a list.

In [181]:
def filterEvenNos(list1):
  '''filter out even numbers from the list

  Parameters
  list1

  Returns
  list without even nos
  '''
  new_list = [i for i in list1 if i%2!=0]
  return new_list

In [182]:
filterEvenNos(squares_list)

[1, 9, 25, 49, 81]

In [183]:
filterEvenNos(even_list)

[]

### 26. Convert a list of strings to a list of integers.

In [184]:
def stringToIntList(list1):
  '''convert a list of string to list of int

  Parameters
  list1: list of strings

  Returns
  list of int
  '''
  new_list = [int(i) for i in list1]
  return new_list

In [185]:
stringToIntList(['1','-2','22','-1','11'])

[1, -2, 22, -1, 11]

### 27. Convert a list of integers to a list of strings.

In [186]:
def intToStringList(list1):
  '''convert a list of int to list of strings

  Parameters
  list1: list of integers

  Returns
  list of str
  '''
  # type conversion using str()
  new_list = [str(i) for i in list1]
  return new_list

In [187]:
intToStringList(even_list)

['2', '4', '6', '8', '10', '12', '14', '16', '18', '20']

### 28. Flatten a nested list.

In [188]:
def flattenList(l):
  '''flatten a nested list

  Parameters
  l: list

  Returns
  1D list
  '''
  new_list = []
  for i in l:
    # use extend() to extend if i is a list
    # recursion is used for multi-nested list
    if type(i) == list:
      new_list.extend(flattenList(i))
    # append if i is a value
    else:
      new_list.append(i)
  return new_list

In [189]:
flattenList([1, 2, [3, 4, [5, 6]], 7, 8, [9, [10]]])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 29. Create a list of the first 10 Fibonacci numbers.

In [190]:
def fibo(n):
  '''finding the nth fibonacci number

  Parameters
  n: nth value in fibonacci sequence

  Returns
  int value
  '''
  if n <= 2:
    return 1
  else:
    return fibo(n-1) + fibo(n-2)

In [191]:
# create a list of first 10 fiboacci nos using list comprehension and fibo()
fibo_list = [fibo(i+1) for i in range(10)]
fibo_list

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

### 30. Check if a list is sorted.

In [192]:
def checkSorted(l):
  '''check if list is sorted

  Parameters
  l: list of values

  Returns
  bool value
  '''
  if l == sorted(l):
    return True
  else:
    return False

In [193]:
print(list1)
checkSorted(list1)

[81, 64, 49, 36, 25, 16, 9, 4, 1, 43, 3, 3, 3, 3, 2, 2, 1, 1]

False

In [194]:
print(list2)
checkSorted(list2)

[43, 3, 3, 3, 3, 2, 2, 1, 1]

False

### 31. Rotate a list to the left by `n` positions.

In [195]:
def rotateListLeft1(l,n):
  '''rotate the list to the left by n positions

  Parameters
  l: list
  n: no. of positions with which it needs to be rotated

  Returns
  new list rotated to left by n positions
  '''
  new_list = l.copy()
  length = len(l)
  for i in range(length):
    index = (n+i)%length
    new_list[i] = l[index]
  return new_list

In [196]:
def rotateListLeft2(l,n):
  '''rotate the list by n positions

  Parameters
  l: list
  n: no. of positions with which it needs to be rotated

  Returns
  new list rotated to left by n positions
  '''
  # normalizing the n value for cases n more than length of list
  n = n%len(l)
  new_list =  l[n:] + l[:n]
  return new_list

In [197]:
squares_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [198]:
rotateListLeft1(squares_list,13)

[16, 25, 36, 49, 64, 81, 100, 1, 4, 9]

In [199]:
rotateListLeft2(squares_list,3)

[16, 25, 36, 49, 64, 81, 100, 1, 4, 9]

### 32. Rotate a list to the right by `n` positions.

In [200]:
def rotateListRight1(l,n):
  '''rotate the list to the right by n positions

  Parameters
  l: list
  n: no. of positions with which it needs to be rotated

  Returns
  new list rotated to right by n positions
  '''
  new_list = l.copy()
  length = len(l)
  for i in range(length):
    index = abs((i-n)%length)
    new_list[index] = l[i]
  return new_list

In [201]:
def rotateListRight2(l,n):
  '''rotate the list by n positions by n positions

  Parameters
  l: list
  n: no. of positions with which it needs to be rotated

  Returns
  new list rotated to Right by n positions
  '''
  # normalizing the n value for cases n more than length of list
  n = n%len(l)
  new_list =  l[-n:] + l[:-n]
  return new_list

In [202]:
squares_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [203]:
rotateListRight1(squares_list,13)

[16, 25, 36, 49, 64, 81, 100, 1, 4, 9]

In [204]:
rotateListLeft2(squares_list,3)

[16, 25, 36, 49, 64, 81, 100, 1, 4, 9]

### 33. Create a list of prime numbers up to 50.

In [205]:
def isPrime(num):
  '''check if the number is prime

  Parameters
  num: int value

  Returns
  bool value
  '''
  for i in range(2,num//2+1):
    if num%i == 0:
      return False
  return True

In [206]:
# using list comprehension and the function isPrime() to get the the prime nos. upto 50
prime_nos = [i for i in range(1,51) if isPrime(i)]
prime_nos

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [207]:
def createChunks(list1,n):
  '''split a list into chunks of size n

  Parameters
  list1: list to be splitted
  n: length of each chunk

  Returns
  list of chunks
  '''
  new_list = []
  for i in range(0,len(list1),n):
      chunk = list1[i:i+n]
      # if length of list is less and there are not enough elements
      # then for the last chunk initial elements of the list is added to make its size n
      if i+n > len(list1):
        chunk = chunk + list1[:(i+n)-len(list1)]
      new_list.append(chunk)
  return new_list

In [208]:
createChunks(squares_list,4)

[[1, 4, 9, 16], [25, 36, 49, 64], [81, 100, 1, 4]]

### 35. Find the second largest number in a list.

In [209]:
def secondMax(l):
  '''second max number in the list

  Parameters
  list1: list to find the second max value

  Returns
  int  value
  '''
  sorted_list = sorted(l)
  return sorted_list[-2]

In [210]:
secondMax(squares_list)

81

### 36. Replace every element in a list with its square.

In [211]:
lst = [1,2,41,12,21]
lst

[1, 2, 41, 12, 21]

In [212]:
# update the lst with the square of the elements and use list comprehension to store it as a list
lst = [i**2 for i in lst]
lst

[1, 4, 1681, 144, 441]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [213]:
def listToDict(l):
  '''convert list to dict with key equal to the values in list

  Parameters
  l: list

  Returns
  dict value
  '''
  import enum
  list_dict = {}
  for i in range(len(l)):
    list_dict[l[i]] = i
  return list_dict

In [214]:
listToDict(squares_list)

{1: 0, 4: 1, 9: 2, 16: 3, 25: 4, 36: 5, 49: 6, 64: 7, 81: 8, 100: 9}

### 38. Shuffle the elements of a list randomly.

In [215]:
print(list2)
# using random.shuffle() to shuffle the elements of the list randomly
random.shuffle(list2)
list2

[43, 3, 3, 3, 3, 2, 2, 1, 1]

[2, 3, 3, 3, 1, 3, 43, 2, 1]

### 39. Create a list of the first 10 factorial numbers.

In [257]:
def factorial(num):
  '''find the factorial of the number

  Parameters
  num: int value

  Returns
  int value
  '''
  fact = 1
  for i in range(1,num+1):
    fact *= i
  return fact

In [258]:
# using list comprehension and the function isPrime() to get the the prime nos. upto 50
fact_list = [factorial(i) for i in range(1,11)]
fact_list

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

### 40. Convert a string to a list of characters.

In [221]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [222]:
checkEmail('asd21asa_an@gmail.com')

True

In [223]:
checkEmail('sa-.jhn@g12mail.com')

False

### 41. Check if two strings are anagrams.

In [224]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [225]:
checkEmail('asd21asa_an@gmail.com')

True

In [226]:
checkEmail('sa-.jhn@g12mail.com')

False

### 42. Encode a string using a Caesar cipher.

In [227]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [228]:
checkEmail('asd21asa_an@gmail.com')

True

In [229]:
checkEmail('sa-.jhn@g12mail.com')

False

### 43. Decode a Caesar cipher encoded string.

In [230]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [231]:
checkEmail('asd21asa_an@gmail.com')

True

In [232]:
checkEmail('sa-.jhn@g12mail.com')

False

44. Find the most frequent word in a string.

In [233]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [234]:
checkEmail('asd21asa_an@gmail.com')

True

In [235]:
checkEmail('sa-.jhn@g12mail.com')

False

### 44. Find the most frequent word in a string.

In [236]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [237]:
checkEmail('asd21asa_an@gmail.com')

True

In [238]:
checkEmail('sa-.jhn@g12mail.com')

False

### 45. Find all unique words in a string.

In [239]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [240]:
checkEmail('asd21asa_an@gmail.com')

True

In [241]:
checkEmail('sa-.jhn@g12mail.com')

False

### 46. Count the number of syllables in a string.

In [242]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [243]:
checkEmail('asd21asa_an@gmail.com')

True

In [244]:
checkEmail('sa-.jhn@g12mail.com')

False

### 47. Check if a string contains any special characters.

In [245]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [246]:
checkEmail('asd21asa_an@gmail.com')

True

In [247]:
checkEmail('sa-.jhn@g12mail.com')

False

### 48. Remove the nth word from a string.

In [248]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [249]:
checkEmail('asd21asa_an@gmail.com')

True

In [250]:
checkEmail('sa-.jhn@g12mail.com')

False

### 49. Insert a word at the nth position in a string.

In [251]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [252]:
checkEmail('asd21asa_an@gmail.com')

True

In [253]:
checkEmail('sa-.jhn@g12mail.com')

False

### 50. Convert a CSV string to a list of lists.

In [254]:
import re
def checkEmail(email):
  '''count the number of lowercase letters

  Parameters
  string

  Returns
  count: int value
  '''
  # using islower to check if char is a lower case letter and then using sum function to add all 1s [list comprehension]
  regex = r'\b[A-Za-z0-9._]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
  if(re.fullmatch(regex, email)):
    return True
  else:
    return False

In [255]:
checkEmail('asd21asa_an@gmail.com')

True

In [256]:
checkEmail('sa-.jhn@g12mail.com')

False