<a href="https://colab.research.google.com/github/joel2982/PW-Skills-Assignment/blob/master/3rd_September_For_Loop_Assignment_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Basic Level

### 1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
# iterating from 1-11 (11 excluded)
for i in range(1,11):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

### 2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
def sumOfList(list):
  '''
  calculate the sum of the given list

  Parameters
  list: list value

  Returns
  int value
  '''
  sum = 0
  for i in list:
    sum += i
  return sum
sumOfList([1,2,3,4,5])

15

### 3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
def stringReverse(string):
  '''
  print the reverse of the given string

  Parameters
  string: str value
  '''
  n = len(string)
  for i in range(n-1,-1,-1):
    print(string[i],end='')

stringReverse("water")

retaw

### 4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
def factorial(num):
  '''
  find the factorial of the given number

  Parameters
  num: int value

  Returns
  int value
  '''
  fact = 1
  for i in range(1,num+1):
    fact *= i
  return fact
factorial(5)

120

### 5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
def multiplicationTable(num):
  '''
  print the multiplication table of the given number

  Parameters
  num: int value
  '''
  for i in range(1,11):
    print(num,'X',i,'=',num*i)
multiplicationTable(6)

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

### 6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
def oddEvenNums(list):
  '''
  find the number of even and odd numbers in the list

  Parameters
  list: list value
  '''
  even = 0
  odd = 0
  for element in list:
    if element%2 == 0:
      even += 1
    else:
      odd += 1
  print("Toal Odd Numbers in the List:",odd)
  print("Toal Even Numbers in the List:",even)
oddEvenNums([1,2,3,4,5])

Toal Odd Numbers in the List: 3
Toal Even Numbers in the List: 2

### 7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1,6):
  print(i*i,end=' ')

1 4 9 16 25

### 8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
def findLength(string):
  '''
  find the length of the given string

  Parameters
  string: str value

  Returns
  int value
  '''
  length = 0
  for _ in string:
    length += 1
  return length
findLength("apple")

5

### 9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
def findAverage(List):
  '''
  find the average of the given list

  Parameters
  List: list value

  Returns
  float value
  '''
  length = 0
  sum = 0
  for element in List:
    length += 1
    sum += element
  return sum/length
findAverage([1,2,3,4,5,6,7])

4.0

### 10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
def fibo(n):
  '''
  print the first n fibonacci numbers

  Parameters
  n: int value
  '''
  f1 = 0
  f2 = 1
  for i in range(0,n):
    f3 = f1 + f2
    print(f1,end=' ')
    f1 = f2
    f2 = f3
fibo(6)

0 1 1 2 3 5

## Intermediate Level

### 11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
def containsDuplicate(List):
  '''
  check if List contains Duplicate. returns True if duplicate elements are present

  Parameters
  List: list value

  Returns
  bool value
  '''
  num_set = set()
  for i in List:
    if i in num_set:
      return True
    num_set.add(i)
  return False
containsDuplicate([1,2,3,4,5])

False

In [ ]:
containsDuplicate([1,2,3,1,2,5])

True

### 12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
def primeNumbers(low, high):
  '''print prime numbers between the given range

  Parameters
  low: lower bound int value
  high: upper bound int value
  '''
  print("Prime Numbers between",low,'and',high,':',end=' ')
  for num in range(low,high+1):
    i = 2
    if num <= 1:
      continue
    for i in range(2,int(num**(0.5))+1):
      if num%i == 0:
        break
    if num%i != 0 or num == i:
      print(num,end=' ')
primeNumbers(1,100)

Prime Numbers between 1 and 100 : 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### 13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
def countVowels(string):
  '''
  find the no of vowels in the given string

  Parameters
  string: str value

  Returns
  count: int value
  '''
  count = 0
  for char in string.lower():
    if char in 'aeiou':
      count += 1
  return count
countVowels("water")

2

### 14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
def maxElement2D(List):
  ''' find the max value in 2D list

  Parameters
  List: 2D list value

  Returns
  max_element: int value
  '''
  max_element = -99999
  for row in List:
    if max_element < max(row):
      max_element = max(row)
  return max_element
maxElement2D([[1,2,3,4,5],[2,3,4,5,6],[5,1,2,77,21]])

77

### 15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
def removeAllOccurences(List,element):
  ''' remove all occurences of an element from the list

  Parameters
  List: list value
  element: to be removed int value

  Returns
  new_list: list value
  '''
  i = 0
  length = len(List)
  while i < length:
    if List[i] == element:
    # continue is used because as the element is removed if i is incremented then it can miss one element next to the previous value
      List.remove(element)
      length -= 1
      continue
    i += 1
List = [1,2,3,4,5,6,3,3,2,3,12,3]
removeAllOccurences(List,3)
List

[1, 2, 4, 5, 6, 2, 12]

### 16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
for j in range(1,6):
  print(f"Table of {j}")
  for i in range(1,11):
    print(j,'X',i,'=',j*i)

Table of 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
Table of 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
Table of 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
Table of 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
Table of 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

### 17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
def FahrenheitToCelsius(fahr_list):
  ''' convert a list of fahrenheit temps to Celsius

  Parameters
  fahr_list: list value with fahrenheit temps

  Returns
  cel_list: list value with celsius temps
  '''
  cel_list = []
  for temp in fahr_list:
      new_temp = (temp - 32)*5/9
      cel_list.append(new_temp)
  return cel_list
FahrenheitToCelsius([-40,0,32,98.6,212])

[-40.0, -17.77777777777778, 0.0, 37.0, 100.0]

### 18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
def commonElementsLists(list1,list2):
  ''' print common elements from two lists

  Parameters
  list1, list2: list value
  '''
  print('Common Elements:',end=' ')
  for element in set(list1):
    if element in list2:
      print(element,end=' ')
commonElementsLists([1,2,4,5,6,3,4],[2,4,5,10])

Common Elements: 2 4 5

### 19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the pattern

In [ ]:
def rightTriangles(n):
  ''' print right triangle with '*'

  Parameters
  n: int value no of lines
  '''
  for i in range(n):
    for j in range(i+1):
      print('*',end='')
    print()
rightTriangles(6)

*
**
***
****
*****
******

### 20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

https://www.geeksforgeeks.org/euclidean-algorithms-basic-and-extended/

In [ ]:
def GCD(m,n):
  '''find the greatest common divisor(GCD) of the given numbers

  Parameters
  n, m: int value

  Returns
  gcd: int value
  '''
 # using euclidean algorithm
  if m < n:
    m, n = n, m
  while n:
      m,n = n, m % n
  return abs(m)
GCD(195,120)

15

In [ ]:
GCD(120,195)

15

## Advanced Level

### 21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
# using sum function on list comprehension
sum_of_digits = lambda List: sum(i for i in List)
sum_of_digits([1,2,3,4,5,6])

21

### 22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
prime_factors = lambda n: [i for i in range(2, n+1) if n%i == 0 and all(i % j != 0 for j in range(2, int(i**0.5)+1))]
print('Prime Factors of 210:',prime_factors(210))
print('Prime Factors of 97:',prime_factors(97))

Prime Factors of 210: [2, 3, 5, 7]
Prime Factors of 97: [97]

### 23. Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension.

In [33]:
from functools import reduce

In [34]:
uniqueListElements = lambda List : list(reduce(lambda li,i : li+[i] if i not in li else li, List,[]))
uniqueListElements([1,2,3,4,1,2,35,6,5,4,4,5])

[1, 2, 3, 4, 35, 6, 5]

### 24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list comprehension.

In [36]:
palindromic_nums = lambda List, lower, upper : list(filter(lambda a: str(a) == str(a)[::-1],[i for i in List if lower < i < upper]))
palindromic_nums(List = [1,2,10,101,99,81,121,232], lower = 9, upper = 200)

[101, 99, 121]

### 25. Write a program to flatten a nested list using list comprehension.

In [49]:
flattenNestedList = lambda List :  list(reduce(lambda li,i : li+[i] if type(i) != list else li + i, List,[]))
print('Flattened List:',flattenNestedList([[0, 1, 2, 3, 4], [5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]))
print('Flattened List:',flattenNestedList([[0, 1, 2, 3, 4], 5, 6, 7, 8, 9, 10 , [11, 12, 13, 14, 15]]))

Flattened List: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Flattened List: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### 26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

In [50]:
sumOddEvenNos = lambda List : (sum(i for i in List if i%2==0),sum(i for i in List if i%2==1))
sumOddEvenNos([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])

(56, 64)

### 27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.

In [54]:
oddSquares = [i**2 for i in range(1,10) if i%2==1]
oddSquares

[1, 9, 25, 49, 81]

### 28. Write a program that combines two lists into a dictionary using list comprehension.

In [58]:
combineListToDict = lambda list1,list2 : {list1[i]:list2[i] for i in range(len(list1))}
combineListToDict([1,2,3,4,5],[1,4,9,16,25])

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [59]:
combinedListToDict = lambda keys, values : dict(map(lambda i,j : (i,j) , keys,values))
combinedListToDict([1,2,3,4,5],[i**3 for i in range(1,6)])

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### 29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [63]:
extractVowels = lambda string: list(filter(lambda char : char.lower() in 'aeiou', string))
extractVowels("An Apple a day, keeps doctor away.")

['A', 'A', 'e', 'a', 'a', 'e', 'e', 'o', 'o', 'a', 'a']

### 30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [76]:
removeNonNumericChars1 = lambda List: list((''.join(list(filter(lambda x: x.isdigit(),string))) for string in List))
removeNonNumericChars1(['Apple11','12311','alph@_,,.'])

['11', '12311', '']

In [79]:
removeNonNumericChars2 = lambda List: [''.join(list(i for i in string if i.isdigit())) for string in List]
removeNonNumericChars2(['Apple11','12311','alph@_,,.'])

['11', '12311', '']